/******************************************************************************
* Carousel styling
******************************************************************************/
dragline-carousel
{
  display: inline-block;
  overflow: hidden;
  position: relative;

  > carousel-item
  {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: left 0.5s;
    top: 0;
    visibility: hidden;

    &[active]
    {
      left: 0 !important;
    }

    &[active],
    &[egress],
    &[next]
    {
      visibility: visible;
    }
  }

  &[direction=right],
  &[direction=left][reverse]
  {
    carousel-item
    {
      left: 100%;

      &[egress]
      {
        left: -100%;
      }
    }
  }

  &[direction=left],
  &[direction=right][reverse]
  {
    carousel-item
    {
      left: -100%;

      &[egress]
      {
        left: 100%;
      }
    }
  }

  &[paradox]
  {
    carousel-item
    {
      visibility: hidden !important;
    }
  }

  > ol
  {
    bottom: 20px;
    display: none;
    left: 50%;
    list-style: none;
    margin: 0 0 0 -30%;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    z-index: 99;

    > li
    {
      background: #000;
      border: 2px solid #FFF;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      width: 10px;

      &[active]
      {
        background: #FFF;
        border: 2px solid #000;
        height: 12px;
        margin: 0;
        width: 12px;
      }
    }
  }

  > a
  {
    border: 0 none;
    bottom: 0;
    color: #FFF;
    display: none;
    font-size: 2.25rem;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px #000;
    top: 0;
    width: 10%;

    > i
    {
      position: absolute;
      height: 30px;
      top: 50%;
      width: 30px;
    }

    &:focus
    {
      outline: 0 none;
    }

    &:hover
    {
      opacity: 0.9;
    }

    &.Left
    {
      left: 0;

      > i
      {
        left: 50%;
        margin-left: -18px;
      }
    }

    &.Right
    {
      right: 0;

      > i
      {
        left: 50%;
        margin-left: -15px;
      }
    }
  }

  &[show-position] > ol
  {
    display: block;
  }

  &[show-navigation] > a
  {
    display: inline-block;
  }
}