/******************************************************************************
* Accordion styling
******************************************************************************/
dragline-accordion {
  display: inline-block; }
  dragline-accordion > header {
    background: whitesmoke;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 2.25em;
    margin: 0;
    overflow: hidden;
    padding: 0.375rem;
    transition: background 0.5s ease-in-out, border-radius 0.5s ease-in-out, color 0.5s ease-in-out;
    width: 100%; }
    dragline-accordion > header[expanded] {
      background: #0768A9;
      color: #FFF;
      cursor: default; }
      dragline-accordion > header[expanded] + section {
        border: 1px solid #d9d9d9;
        max-height: 50em;
        padding: 0.375rem; }
  dragline-accordion > section {
    border: 0 none;
    border-radius: 3px;
    display: block;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: border 0.5s, max-height 0.5s, padding 0.5s;
    width: 100%; }
  dragline-accordion[collapsible] header[expanded] {
    cursor: pointer; }

dragline-accordion[orientation=horizontal] {
  display: flex;
  width: 100%; }
  dragline-accordion[orientation=horizontal] > header {
    float: left;
    height: 100%;
    width: 2.25em; }
    dragline-accordion[orientation=horizontal] > header div[role=layout] {
      bottom: -1em;
      left: 0.25em;
      min-width: 25em;
      position: absolute;
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    dragline-accordion[orientation=horizontal] > header[expanded] + section {
      max-width: 100%;
      flex-grow: 1; }
  dragline-accordion[orientation=horizontal] > section {
    float: left;
    height: 100%;
    max-width: 0;
    transition: border 0.5s, max-width 0.5s, padding 0.5s; }

/******************************************************************************
* Badge styling
******************************************************************************/
dragline-badge {
  background-color: #999999;
  border-radius: 10px;
  color: #FFF;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: initial;
  min-width: 1em;
  margin: -0.5rem 0 0 -0.5rem;
  padding: 0.25em 0.5em;
  text-align: center;
  vertical-align: top;
  white-space: nowrap; }
  dragline-badge:empty {
    display: none; }
  dragline-badge[role=info] {
    background: #0768A9; }
  dragline-badge[role=risky] {
    background: #AA0000; }
  dragline-badge[role=success] {
    background: #00AA00; }
  dragline-badge[role=warning] {
    background: #FFFF00; }

/******************************************************************************
* Breadcrumb styling
******************************************************************************/
dragline-breadcrumb {
  background-color: whitesmoke;
  border-radius: 3px;
  display: block;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem; }
  dragline-breadcrumb > breadcrumb-item {
    display: inline-block; }
    dragline-breadcrumb > breadcrumb-item + breadcrumb-item::before {
      color: #333;
      content: "/\00a0";
      padding: 0 0.375rem; }

/******************************************************************************
* Carousel styling
******************************************************************************/
dragline-carousel {
  display: inline-block;
  overflow: hidden;
  position: relative; }
  dragline-carousel > carousel-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: left 0.5s;
    top: 0;
    visibility: hidden; }
    dragline-carousel > carousel-item[active] {
      left: 0 !important; }
    dragline-carousel > carousel-item[active], dragline-carousel > carousel-item[egress], dragline-carousel > carousel-item[next] {
      visibility: visible; }
  dragline-carousel[direction=right] carousel-item, dragline-carousel[direction=left][reverse] carousel-item {
    left: 100%; }
    dragline-carousel[direction=right] carousel-item[egress], dragline-carousel[direction=left][reverse] carousel-item[egress] {
      left: -100%; }
  dragline-carousel[direction=left] carousel-item, dragline-carousel[direction=right][reverse] carousel-item {
    left: -100%; }
    dragline-carousel[direction=left] carousel-item[egress], dragline-carousel[direction=right][reverse] carousel-item[egress] {
      left: 100%; }
  dragline-carousel[paradox] carousel-item {
    visibility: hidden !important; }

:host(dragline-carousel) > ol {
  bottom: 20px;
  display: none;
  left: 50%;
  list-style: none;
  margin: 0 0 0 -30%;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 60%;
  z-index: 99; }
  :host(dragline-carousel) > ol > li {
    background: #000;
    border: 1px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px; }
    :host(dragline-carousel) > ol > li[active] {
      background: #FFF;
      border: 1px solid #000;
      height: 12px;
      margin: 0;
      width: 12px; }

:host(dragline-carousel) > a {
  bottom: 0;
  color: #FFF;
  display: none;
  font-size: 2.25rem;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px #000;
  top: 0;
  width: 10%; }
  :host(dragline-carousel) > a > i {
    position: absolute;
    height: 30px;
    top: 50%;
    width: 30px; }
  :host(dragline-carousel) > a:hover {
    opacity: 0.9; }
  :host(dragline-carousel) > a.Left {
    left: 0; }
    :host(dragline-carousel) > a.Left > i {
      left: 50%;
      margin-left: -18px; }
  :host(dragline-carousel) > a.Right {
    right: 0; }
    :host(dragline-carousel) > a.Right > i {
      left: 50%;
      margin-left: -15px; }

:host(dragline-carousel[show-indicators]) > ol {
  display: block; }

:host(dragline-carousel[show-next-previous]) > a {
  display: inline-block; }

/******************************************************************************
* Card styling
******************************************************************************/
@media screen and (min-width: 768px) {
  dragline-deck,
  dragline-deck[mode=deck] {
    display: flex;
    flex-flow: row wrap;
    margin-right: -.625rem;
    margin-left: -.625rem; }
    dragline-deck dragline-card,
    dragline-deck[mode=deck] dragline-card {
      flex: 1 0 0;
      margin-right: .625rem;
      margin-left: .625rem; }
  dragline-deck[mode=grouped] dragline-card {
    margin: 0; }
    dragline-deck[mode=grouped] dragline-card + dragline-card {
      margin-left: 0;
      border-left: 0; }
    dragline-deck[mode=grouped] dragline-card:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    dragline-deck[mode=grouped] dragline-card:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    dragline-deck[mode=grouped] dragline-card:not(:first-child):not(:last-child) {
      border-radius: 0; }
  dragline-deck[mode=columns] {
    column-count: 3;
    column-gap: 1.25rem;
    display: block; }
    dragline-deck[mode=columns] dragline-card {
      width: 100%; } }

dragline-card {
  background-color: #FFF;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  margin: 0 0.35rem;
  overflow-y: auto;
  padding: 1rem;
  position: relative; }
  dragline-card header,
  dragline-card footer {
    color: #666666;
    padding: 0.25rem 0; }
    dragline-card header.Emphasis,
    dragline-card footer.Emphasis {
      background-color: whitesmoke;
      margin: -1rem;
      padding: 0.5em 0.75em; }
  dragline-card header {
    font-size: 2.1em;
    font-family: "Shadows Into Light";
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0.5em; }
    dragline-card header.Emphasis {
      border-bottom: 1px solid #d9d9d9;
      margin-bottom: 1rem; }
    dragline-card header small {
      color: #999999;
      font-size: 0.65em;
      font-weight: normal;
      line-height: initial;
      margin-top: -0.25em;
      margin-bottom: 0; }
  dragline-card footer {
    margin-top: 0.5em; }
    dragline-card footer.Emphasis {
      border-top: 1px solid #d9d9d9;
      margin-top: 1rem; }

dragline-card.Sectioned {
  background-color: whitesmoke;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #333;
  margin: 0 0.35rem;
  padding: 1rem;
  position: relative; }
  dragline-card.Sectioned div,
  dragline-card.Sectioned footer,
  dragline-card.Sectioned header,
  dragline-card.Sectioned ol > li,
  dragline-card.Sectioned p,
  dragline-card.Sectioned section,
  dragline-card.Sectioned ul > li {
    background: #FFF;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 3px;
    margin: 1rem 0;
    padding: 0.25rem 0.5rem; }
    dragline-card.Sectioned div:first-child,
    dragline-card.Sectioned footer:first-child,
    dragline-card.Sectioned header:first-child,
    dragline-card.Sectioned ol > li:first-child,
    dragline-card.Sectioned p:first-child,
    dragline-card.Sectioned section:first-child,
    dragline-card.Sectioned ul > li:first-child {
      margin-top: 0; }
    dragline-card.Sectioned div:last-child,
    dragline-card.Sectioned footer:last-child,
    dragline-card.Sectioned header:last-child,
    dragline-card.Sectioned ol > li:last-child,
    dragline-card.Sectioned p:last-child,
    dragline-card.Sectioned section:last-child,
    dragline-card.Sectioned ul > li:last-child {
      margin-bottom: 0; }
  dragline-card.Sectioned ol,
  dragline-card.Sectioned ul {
    list-style-position: inside;
    margin: 0;
    padding: 0; }
    dragline-card.Sectioned ol > li,
    dragline-card.Sectioned ul > li {
      padding-left: 1.5em;
      text-indent: -1em; }
    dragline-card.Sectioned ol.Paneled > li,
    dragline-card.Sectioned ul.Paneled > li {
      border-radius: 0;
      margin: 0 0 -1px 0;
      padding: 0.75em;
      text-indent: 0; }
      dragline-card.Sectioned ol.Paneled > li:first-child,
      dragline-card.Sectioned ul.Paneled > li:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      dragline-card.Sectioned ol.Paneled > li:last-child,
      dragline-card.Sectioned ul.Paneled > li:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
  dragline-card.Sectioned header,
  dragline-card.Sectioned footer {
    background: whitesmoke;
    border-bottom: 0 none;
    padding: 0.5rem; }

/******************************************************************************
* Dropdown styling
******************************************************************************/
dragline-dropdown > button::after {
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  margin: -0.2rem 0 0 0.375rem;
  vertical-align: middle;
  width: 0; }

dragline-dropdown > ol,
dragline-dropdown > ul {
  background-clip: padding-box;
  background-color: #FFF;
  box-shadow: 0 5px 10px #999999;
  display: none;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin: 0.15rem 0 0;
  min-width: 150px;
  opacity: 0;
  padding: 0.375rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: opacity 0.5s;
  z-index: 999; }
  dragline-dropdown > ol > li > a,
  dragline-dropdown > ul > li > a {
    clear: both;
    color: #333;
    display: block;
    line-height: 1.45;
    padding: 0.2rem 1.5rem;
    white-space: nowrap; }
    dragline-dropdown > ol > li > a:focus, dragline-dropdown > ol > li > a:hover,
    dragline-dropdown > ul > li > a:focus,
    dragline-dropdown > ul > li > a:hover {
      background-color: whitesmoke;
      text-decoration: none; }

dragline-dropdown[active] > ol,
dragline-dropdown[active] > ul {
  display: block;
  opacity: 0.9; }

/******************************************************************************
* Index styling
******************************************************************************/
:host(dragline-index) ol {
  list-style: none; }
  :host(dragline-index) ol > li a {
    color: #0768A9;
    text-decoration: none; }
  :host(dragline-index) ol > li ol {
    display: none;
    padding-left: 1.5rem; }
  :host(dragline-index) ol > li[active] > a {
    color: #043b60;
    font-weight: bold; }
  :host(dragline-index) ol > li[active] > ol {
    display: block; }

/******************************************************************************
* Infinite Scrolling styling
******************************************************************************/
dragline-scrollable > div.Top-Spacer,
dragline-scrollable > div.Bottom-Spacer {
  height: 0px;
  visibility: hidden; }

/******************************************************************************
* Modal dialog styles
******************************************************************************/
dragline-modal * {
  display: none; }

div[role=backdrop] {
  background: #999999;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 9998; }

dialog#modalDialog {
  backface-visibility: hidden;
  background: #FFF;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 #999999;
  height: auto;
  left: 50%;
  max-width: 75%;
  min-height: 10rem;
  min-width: 20rem;
  opacity: 0;
  position: fixed;
  top: 50%;
  transition: all 0.5s ease-out;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 9999; }
  dialog#modalDialog > header {
    border-bottom: 1px solid #d9d9d9;
    padding: 0.75rem; }
    dialog#modalDialog > header > span {
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.45;
      margin: 0.75rem 1em 0 0; }
    dialog#modalDialog > header > button {
      background: transparent;
      border: 0 none;
      font-size: 1.5rem;
      float: right;
      height: 1.5em;
      margin-top: -0.5rem;
      opacity: 0.5;
      padding: 0 0.5em; }
    dialog#modalDialog > header > section {
      padding: 0.75rem; }
  dialog#modalDialog > footer > button:not(:first-of-type) {
    margin: 0 0 0 0.5em; }
  dialog#modalDialog.FadeAndScale:not([active]) {
    transform: translate(-50%, -50%) scale(0); }
  dialog#modalDialog.Newspaper:not([active]) {
    transform: translate(-50%, -50%) scale(0) rotate(720deg); }
  dialog#modalDialog.SlideFromBottom:not([active]) {
    transform: translate(-50%, 200%); }
  dialog#modalDialog.SlideFromLeft:not([active]) {
    transform: translate(-200%, -50%); }
  dialog#modalDialog.SlideFromRight:not([active]) {
    transform: translate(200%, -50%); }
  dialog#modalDialog.SlideFromTop:not([active]) {
    transform: translate(-50%, -200%); }
  dialog#modalDialog[active] {
    opacity: 1; }
    dialog#modalDialog[active] ~ div[role=backdrop] {
      opacity: 0.75; }
    dialog#modalDialog[active].FadeAndScale {
      transform: translate(-50%, -50%) scale(1); }
    dialog#modalDialog[active].Newspaper {
      transform: translate(-50%, -50%) scale(1) rotate(0deg); }

/******************************************************************************
* Mobile devices (typically phones)
******************************************************************************/
@media screen and (max-width: 767px) {
  dialog#modalDialog {
    max-width: 720px;
    min-width: 300px;
    width: 95%; } }

/******************************************************************************
* Password Strength styling
******************************************************************************/
dragline-password-strength {
  display: inline-block;
  position: relative; }

:host(dragline-password-strength) div.Strength {
  display: none; }
  :host(dragline-password-strength) div.Strength > div.Meter {
    background: whitesmoke;
    height: 0.375rem;
    margin: 0.25rem 0; }
  :host(dragline-password-strength) div.Strength.Weak > div.Meter > span {
    background: #AA0000;
    display: block;
    height: 100%;
    width: 25%; }
  :host(dragline-password-strength) div.Strength.Fair > div.Meter > span {
    background: #FFFF00;
    width: 50%; }
  :host(dragline-password-strength) div.Strength.Moderate > div.Meter > span {
    background: #0768A9;
    width: 75%; }
  :host(dragline-password-strength) div.Strength.Strong > div.Meter > span {
    background: #00AA00;
    width: 100%; }

:host(dragline-password-strength[active]) > div.Strength {
  display: inline-block; }

/******************************************************************************
* Pull-Out styling
******************************************************************************/
dragline-pull-out {
  background: #FFF;
  position: absolute;
  z-index: 998; }

:host(dragline-pull-out) > section {
  border: 1px solid transparent;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  position: relative; }
  :host(dragline-pull-out) > section > i {
    background: whitesmoke;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.35rem; }
  :host(dragline-pull-out) > section > div {
    margin: 0;
    max-height: 0;
    max-width: 0;
    padding: 0;
    overflow: hidden; }

:host(dragline-pull-out[location=bottom]),
:host(dragline-pull-out[location=top]) {
  left: 0; }
  :host(dragline-pull-out[location=bottom]) > section > i,
  :host(dragline-pull-out[location=top]) > section > i {
    left: 50%;
    margin-left: calc((1em + 0.7rem) / 2 * -1);
    position: absolute; }
  :host(dragline-pull-out[location=bottom]) > section > div,
  :host(dragline-pull-out[location=top]) > section > div {
    max-width: 4096px;
    opacity: 0;
    transition: max-height 1s, opacity 1s, padding-bottom 1s, padding-top 1s; }

:host(dragline-pull-out[location=bottom]) {
  bottom: 0; }
  :host(dragline-pull-out[location=bottom]) > section > i {
    border-bottom: 0 none;
    top: calc((1em + 0.7rem) * -1); }
    :host(dragline-pull-out[location=bottom]) > section > i::before {
      content: "\f077"; }

:host(dragline-pull-out[location=top]) > section > i {
  border-top: 0 none;
  bottom: calc((1em + 0.7rem) * -1); }
  :host(dragline-pull-out[location=top]) > section > i::before {
    content: "\f078"; }

:host(dragline-pull-out[location=left]) > section > i,
:host(dragline-pull-out[location=right]) > section > i {
  margin-top: calc((1em + 0.7rem) / 2 * -1);
  position: absolute;
  top: 50%; }

:host(dragline-pull-out[location=left]) > section > div,
:host(dragline-pull-out[location=right]) > section > div {
  max-height: 2160px;
  transition: max-width 1s, opacity 1s, padding-left 1s, padding-right 1s; }

:host(dragline-pull-out[location=left]) {
  left: 0; }
  :host(dragline-pull-out[location=left]) > section > i {
    border-left: 0 none;
    right: calc((1em + .5rem) * -1); }
    :host(dragline-pull-out[location=left]) > section > i::before {
      content: "\f054"; }

:host(dragline-pull-out[location=right]) {
  right: 0; }
  :host(dragline-pull-out[location=right]) > section > i {
    border-right: 0 none;
    left: calc((1em + .5rem) * -1); }
    :host(dragline-pull-out[location=right]) > section > i::before {
      content: "\f053"; }

:host(dragline-pull-out[active]) > section {
  border: 1px solid #d9d9d9; }
  :host(dragline-pull-out[active]) > section > div {
    max-height: 2160px;
    max-width: 4096px;
    opacity: 1;
    padding: 0.35rem; }

:host(dragline-pull-out[active][location=bottom]) > i::before {
  content: "\f078"; }

:host(dragline-pull-out[active][location=left]) > i::before {
  content: "\f053"; }

:host(dragline-pull-out[active][location=right]) > i::before {
  content: "\f054"; }

:host(dragline-pull-out[active][location=top]) > i::before {
  content: "\f077"; }

/******************************************************************************
* Remaining Characters styling
******************************************************************************/
dragline-remaining {
  display: inline-block;
  left: -100%;
  overflow-x: hidden;
  position: relative;
  transition: all 0.5s ease-in-out; }
  dragline-remaining[active] {
    left: 0; }

/******************************************************************************
* Tabstrip styling
******************************************************************************/
dragline-tabstrip {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }
  dragline-tabstrip > dragline-tab {
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0.75rem 1rem;
    text-decoration: none; }
    dragline-tabstrip > dragline-tab > section {
      background: #FFF;
      border: 1px solid #d9d9d9;
      padding: 1rem;
      position: absolute;
      left: 0;
      top: 2.05rem;
      visibility: hidden;
      width: 100%;
      z-index: 1; }
    dragline-tabstrip > dragline-tab[active] {
      border: 1px solid #d9d9d9;
      border-bottom: 1px solid transparent;
      cursor: default; }
      dragline-tabstrip > dragline-tab[active] > section {
        visibility: visible; }

/******************************************************************************
* Toasty styling
******************************************************************************/
dragline-toasty {
  height: auto;
  min-width: 250px;
  position: fixed;
  right: 10px;
  top: 40px;
  width: 10%;
  z-index: 9995; }

:host(dragline-toasty) * {
  box-sizing: border-box; }

:host(dragline-toasty) > div {
  background: #333;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 10px #999999;
  color: #FFF;
  margin: 0.75rem 0;
  max-height: 150px;
  opacity: 0;
  overflow: hidden;
  padding: 0.375rem;
  position: relative;
  transition: margin 0.5s ease-in-out, max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%; }
  :host(dragline-toasty) > div[role=error] {
    background: #ffd0d0;
    border: 1px solid #AA0000;
    color: #AA0000; }
  :host(dragline-toasty) > div[role=info] {
    background: #d8eefd;
    border: 1px solid #0768A9;
    color: #0768A9; }
  :host(dragline-toasty) > div[role=light] {
    background: whitesmoke;
    border: 1px solid #d9d9d9;
    color: #333; }
  :host(dragline-toasty) > div[role=success] {
    background: #d0ffd0;
    border: 1px solid #00AA00;
    color: #00AA00; }
  :host(dragline-toasty) > div[role=warning] {
    background: lightyellow;
    border: 1px solid #b3b300;
    color: #b3b300; }
  :host(dragline-toasty) > div[active] {
    opacity: 0.9; }
  :host(dragline-toasty) > div[disabled] {
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition-delay: 4s, 4s, 4s, 3s; }
  :host(dragline-toasty) > div[acknowledged] {
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition-delay: 1s, 1s, 1s, 0s; }
  :host(dragline-toasty) > div:hover:not([acknowledged]) {
    margin: 0.75rem 0 !important;
    max-height: 150px !important;
    opacity: 0.9 !important;
    padding: 0.375rem !important;
    transition-duration: 0s;
    transition-delay: 0s; }
  :host(dragline-toasty) > div > header {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center; }
  :host(dragline-toasty) > div > button {
    background: transparent;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 0; }
  :host(dragline-toasty) > div > img {
    float: left;
    height: 48px;
    margin: 0 0.75rem 0.75rem 0;
    width: 48px; }

/******************************************************************************
* Toolbar & Ribbon styling
******************************************************************************/
dragline-ribbon > dragline-toolbar:not(:first-child) {
  margin-left: 5px; }

dragline-ribbon > dragline-toolbar[orientation=vertical]:not(:first-child) {
  margin-top: 5px; }

dragline-toolbar {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  dragline-toolbar > button,
  dragline-toolbar > .Button {
    background-color: whitesmoke;
    border-color: #d9d9d9;
    color: #333;
    float: left;
    position: relative; }
    dragline-toolbar > button:focus, dragline-toolbar > button:hover,
    dragline-toolbar > .Button:focus,
    dragline-toolbar > .Button:hover {
      background-color: whitesmoke;
      border-color: #d9d9d9;
      box-shadow: none;
      outline: none;
      z-index: 2; }
    dragline-toolbar > button:active, dragline-toolbar > button.Active,
    dragline-toolbar > .Button:active,
    dragline-toolbar > .Button.Active {
      background-color: whitesmoke;
      box-shadow: 0 0 10px #999999;
      outline: 0; }
    dragline-toolbar > button:not(:first-child):not(:last-child),
    dragline-toolbar > .Button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    dragline-toolbar > button + button,
    dragline-toolbar > button + .Button,
    dragline-toolbar > .Button + button,
    dragline-toolbar > .Button + .Button {
      margin-left: -1px; }
    dragline-toolbar > button:first-child:not(:last-of-type),
    dragline-toolbar > .Button:first-child:not(:last-of-type) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-left: 0; }
    dragline-toolbar > button:last-child:not(:first-child),
    dragline-toolbar > .Button:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }

dragline-toolbar[orientation=vertical] > button,
dragline-toolbar[orientation=vertical] > .Button {
  display: block;
  float: none;
  max-width: 100%;
  width: 100%; }
  dragline-toolbar[orientation=vertical] > button + button,
  dragline-toolbar[orientation=vertical] > button + .Button,
  dragline-toolbar[orientation=vertical] > .Button + button,
  dragline-toolbar[orientation=vertical] > .Button + .Button {
    margin-top: -1px; }
  dragline-toolbar[orientation=vertical] > button:first-child:not(:last-child),
  dragline-toolbar[orientation=vertical] > .Button:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px; }
  dragline-toolbar[orientation=vertical] > button:last-child:not(:first-child),
  dragline-toolbar[orientation=vertical] > .Button:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
