/******************************************************************************
* Embedded fonts
******************************************************************************/
@font-face {
  font-family: "Shadows Into Light";
  src: "url(fonts/Shadows-Into-Light.ttf)"; }

@font-face {
  font-family: Calibri;
  src: "url(fonts/Calibri.ttf)"; }

/******************************************************************************
* Browser normalization
******************************************************************************/
* {
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: border-box; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:active {
  outline: 0; }

a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

audio:not([controls]) {
  display: none;
  height: 0; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
select {
  text-transform: none; }

button {
  overflow: visible; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

fieldset {
  border: 1px solid #C0C0C0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

figure {
  margin: 1em 40px; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0; }

input {
  line-height: normal; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

pre {
  overflow: auto; }

progress {
  vertical-align: baseline; }

small {
  font-size: 80%; }

strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

template {
  display: none; }

textarea {
  overflow: auto; }

/******************************************************************************
* Coloring
******************************************************************************/
.Info {
  color: #AA0000; }

.Risky {
  color: #AA0000; }

.Success {
  color: #00AA00; }

.Warning {
  color: #FFFF00; }

/******************************************************************************
* Formatting
******************************************************************************/
.Bold {
  font-weight: bold; }

.Text-Center {
  text-align: center; }

.Text-Justify {
  text-align: justify; }

.Text-Left {
  text-align: left; }

.Text-Right {
  text-align: right; }

/******************************************************************************
* Grid system
******************************************************************************/
.Column.Width-100,
.Column.Width-90,
.Column.Width-80,
.Column.Width-75,
.Column.Width-66,
.Column.Width-60,
.Column.Width-50 {
  float: left;
  padding: 0.75rem 1rem; }

.Row {
  display: block; }

.Row-Padded {
  display: block;
  margin-top: 0.75rem; }

.Row-Padded:first-child {
  margin-top: 0; }

.Row-Padded > .Column + .Column {
  padding-left: 1rem; }

.Width-100 {
  width: 100%; }

.Width-90 {
  width: 90%; }

.Width-80 {
  width: 80%; }

.Width-75 {
  width: 75%; }

.Width-66 {
  width: 66.66666667%; }

.Width-60 {
  width: 60%; }

.Width-50:not(th),
.Width-40:not(th),
.Width-33:not(th),
.Width-25:not(th),
.Width-20:not(th),
.Width-10:not(th) {
  width: 100%; }

/******************************************************************************
* Placement
******************************************************************************/
.Block-Centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.Clear::before,
.Clear::after,
.Row::before,
.Row::after,
.Row-Padded::before,
.Row-Padded::after,
nav::before,
nav::after,
section.Container::before,
section.Container::after {
  content: " ";
  display: table; }

.Clear::after,
.Row::after,
.Row-Padded::after,
nav::after,
section.Container::after {
  clear: both; }

.Float-Left {
  float: left; }

.Float-Right {
  float: right; }

.Hidden {
  display: none !important; }

.Invisible {
  visibility: hidden !important; }

/******************************************************************************
* Button styling
******************************************************************************/
button,
.Button {
  background-color: whitesmoke;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:active, button.Active,
  .Button:active,
  .Button.Active {
    background-image: none;
    box-shadow: inset 0 3px 5px #999999;
    outline: 0; }
    button:active:focus, button.Active:focus,
    .Button:active:focus,
    .Button.Active:focus {
      border-color: #0768A9;
      box-shadow: inset 0 1px 1px #999999, 0 0 8px #0768A9;
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
  button:focus, button:hover,
  .Button:focus,
  .Button:hover {
    background-color: whitesmoke;
    color: #333;
    text-decoration: none; }
  button:disabled, button.Disabled,
  .Button:disabled,
  .Button.Disabled {
    background-color: #999999;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none; }

button.Dark,
.Button.Dark {
  background: #666666 !important;
  border: 1px solid #333 !important;
  color: #FFF !important; }
  button.Dark:focus, button.Dark:hover,
  .Button.Dark:focus,
  .Button.Dark:hover {
    background: #999999 !important;
    border: 1px solid #666666 !important; }

button.Ethereal,
button.Ethereal:hover,
button.Ethereal:active {
  background: transparent;
  border: 0 none;
  border-radius: initial;
  box-shadow: none;
  margin: 0;
  outline: none;
  padding: 0;
  transition: none; }

button.Link {
  color: #0768A9;
  border-radius: 0; }
  button.Link, button.Link:active, button.Link:disabled, button.Link:focus, button.Link:hover {
    background: transparent;
    border: 0 none;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0; }
  button.Link:focus, button.Link:hover {
    color: #043b60;
    text-decoration: underline;
    background-color: transparent; }
  button.Link:disabled {
    color: #999999;
    text-decoration: none; }

button.Light,
.Button.Light {
  background: #999999 !important;
  border: 1px solid #666666 !important; }
  button.Light:focus, button.Light:hover,
  .Button.Light:focus,
  .Button.Light:hover {
    background: #d9d9d9 !important;
    border: 1px solid #999999 !important; }

button.Risky,
.Button.Risky {
  background: #AA0000 !important;
  border: 1px solid #5e0000 !important;
  color: #FFF !important; }
  button.Risky:focus, button.Risky:hover,
  .Button.Risky:focus,
  .Button.Risky:hover {
    background: #5e0000 !important;
    border: 1px solid #5e0000 !important;
    color: #FFF !important; }

button.Suggested {
  background: #0768A9 !important;
  border: 1px solid #043b60 !important;
  color: #FFF !important; }
  button.Suggested:focus, button.Suggested:hover {
    background: #043b60 !important;
    border: 1px solid #043b60 !important;
    color: #FFF !important; }

input[type=button],
input[type=image],
input[type=submit] {
  display: none !important; }

/******************************************************************************
* Form control styling
******************************************************************************/
input,
select,
textarea {
  background-color: whitesmoke;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box !important;
  color: #333;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.45;
  padding: 0.25rem 0.375rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%; }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #0768A9;
    box-shadow: inset 0 1px 1px #999999, 0 0 8px #0768A9;
    outline: none; }
  input[required]:invalid,
  select[required]:invalid,
  textarea[required]:invalid {
    border-color: #AA0000;
    box-shadow: inset 0 1px 1px #999999, 0 0 8px #AA0000; }
  input:disabled, input[readonly],
  select:disabled,
  select[readonly],
  textarea:disabled,
  textarea[readonly] {
    background-color: #999999;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #999999;
    opacity: 1; }

input[type=checkbox],
input[type=radio] {
  border: 0 none;
  border-radius: 0;
  display: inline-block;
  height: auto;
  line-height: normal;
  margin: 2px 2px 0 0;
  vertical-align: text-top;
  width: auto; }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: none;
    outline: none; }

input[type=file],
input[type=range] {
  display: block; }

select::-ms-expand {
  background-color: transparent;
  border: 0; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  height: auto; }

/******************************************************************************
* Form element groups
******************************************************************************/
.Form-Group {
  margin-bottom: 1rem; }
  .Form-Group.Icon-Left, .Form-Group.Icon-Right {
    position: relative; }
    .Form-Group.Icon-Left i, .Form-Group.Icon-Right i {
      bottom: 7px;
      position: absolute;
      text-align: center;
      width: 32px;
      z-index: 2; }
  .Form-Group.Icon-Left input:not([type=checkbox]):not([type=file]):not([type=image]):not([type=radio]) {
    padding-left: 32px; }
  .Form-Group.Icon-Right input:not([type=checkbox]):not([type=file]):not([type=image]):not([type=radio]) {
    padding-right: 32px; }
  .Form-Group.Icon-Left i {
    left: 0; }
  .Form-Group.Icon-Right i {
    right: 0; }

form.Inline .Form-Group {
  display: inline-flex;
  margin-bottom: 0;
  vertical-align: middle; }

form.Inline input:not([type=checkbox]):not([type=file]):not([type=image]):not([type=radio]),
form.Inline select,
form.Inline textarea {
  display: inline-block;
  flex-grow: 1;
  vertical-align: middle;
  width: auto; }

form.Inline label {
  margin-bottom: 0;
  padding: 0.375rem 0.25rem; }

form[clean] input,
form[clean] select,
form[clean] textarea {
  border-color: transparent;
  box-shadow: none;
  outline: none; }

/******************************************************************************
* Meter styling
******************************************************************************/
meter {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: 3px;
  display: block; }

meter::-webkit-meter-bar {
  background: whitesmoke;
  box-shadow: 0 2px 5px #999999 inset; }

meter::-webkit-meter-optimum-value {
  background: #00AA00;
  box-shadow: 0 2px 5px #999999 inset; }

meter::-webkit-meter-suboptimum-value {
  background: #FFFF00;
  box-shadow: 0 2px 5px #999999 inset; }

meter::-webkit-meter-even-less-good-value {
  background: #AA0000;
  box-shadow: 0 2px 5px #999999 inset; }

/******************************************************************************
* Progress bar styling
******************************************************************************/
progress {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: whitesmoke;
  border: 0 none;
  border-radius: 3px;
  color: #0768A9; }

progress::-webkit-progress-bar {
  border-radius: 3px; }

progress[value]::-webkit-progress-bar {
  background: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-webkit-progress-value {
  background: #0768A9;
  border-radius: 3px; }

progress:not([value]) {
  display: none; }

/******************************************************************************
* Miscellaneous form element styling
******************************************************************************/
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0; }

figure {
  margin: 0; }

hr {
  border: 0;
  border-top: 1px solid #d9d9d9;
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

img {
  vertical-align: middle; }

img.Rounded {
  border-radius: 3px; }

img.Circle {
  border-radius: 50%; }

img.Bordered {
  background-color: whitesmoke;
  border: 1px solid #d9d9d9;
  display: inline-block;
  max-width: 100%;
  padding: 5px;
  transition: all 0.2s ease-in-out; }

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.1rem; }

label.Checkable {
  cursor: pointer;
  font-weight: normal;
  padding-top: 0; }
  label.Checkable input[type=checkbox],
  label.Checkable input[type=radio] {
    margin-top: -2px;
    vertical-align: middle; }

label.ScreenReader {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

legend {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  color: #333;
  display: block;
  font-size: 1.45em;
  line-height: inherit;
  margin-bottom: 1.5rem;
  padding: 0;
  width: 100%; }

/******************************************************************************
* List styling
******************************************************************************/
dl {
  margin: 0; }

dt,
dd {
  line-height: 1.45; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

li[divider],
li.Divider {
  background-color: whitesmoke;
  height: 1px;
  margin: 0.75rem 0;
  overflow: hidden; }

ol,
ul {
  margin-bottom: 0.75rem;
  margin-top: 0; }

ul {
  list-style: disc; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

ol.Inline,
ul.Inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  ol.Inline li,
  ul.Inline li {
    display: inline-block;
    padding: 0 0.375rem; }

ol.Paneled,
ul.Paneled {
  padding-left: 0; }
  ol.Paneled li,
  ul.Paneled li {
    background-color: #FFF;
    border: 1px solid #d9d9d9;
    display: block;
    margin-bottom: -1px;
    padding: 0.75rem;
    position: relative; }
  ol.Paneled li:first-child,
  ul.Paneled li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  ol.Paneled li:last-child,
  ul.Paneled li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

ol.Unstyled,
ul.Unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

/******************************************************************************
* Structural page styling
******************************************************************************/
html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent; }

body {
  background: #FFF;
  color: #333;
  font-family: Calibri;
  font-size: 14px;
  height: 100%;
  line-height: 1.45;
  padding: 60px 10px 10px 10px; }
  body header > nav {
    background: #0768A9;
    border: 1px solid transparent;
    color: #FFF;
    height: 40px;
    left: 0;
    margin: 0 -10px 20px 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999; }
    body header > nav a.Logo {
      float: right; }
    body header > nav label[for=chkNavigation] {
      cursor: pointer;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1.25em;
      font-weight: normal;
      line-height: 40px;
      margin: 0;
      padding: 0; }
      body header > nav label[for=chkNavigation]::before {
        content: "\f0c9"; }
    body header > nav #chkNavigation {
      display: none; }
      body header > nav #chkNavigation:checked + ul {
        left: -1px; }
    body header > nav > ul {
      background: #333;
      height: 10000px;
      left: -100%;
      list-style: none;
      margin: 0;
      padding: 0 0 0 10px;
      position: absolute;
      top: 39px;
      transition: all 0.5s ease-in-out;
      width: 75%;
      z-index: 9999; }
      body header > nav > ul li {
        color: #d9d9d9;
        font-size: 1.25em;
        padding: 0.25rem 0.75rem;
        position: relative; }
        body header > nav > ul li a > span:first-child ~ * {
          display: none; }
        body header > nav > ul li a:focus + ul {
          max-height: 500px; }
        body header > nav > ul li input[type=search] {
          border-radius: 20px;
          margin-top: 0.375rem;
          width: 100%; }
        body header > nav > ul li ul {
          font-size: 14px;
          list-style: none;
          margin: 0 0 0 0.75rem;
          max-height: 0;
          overflow: hidden;
          padding: 0;
          transition: max-height 0.5s ease-in-out; }
      body header > nav > ul li:not(:first-child) {
        border-top: 1px solid #d9d9d9; }
  body header > nav ul > li a {
    color: #FFF;
    display: inline-block;
    transition: color 0.5s ease-in-out; }
    body header > nav ul > li a i {
      display: inline-block;
      padding-right: 0.375rem; }
  body header > nav ul > li a:focus,
  body header > nav ul > li a:hover {
    color: lightyellow;
    outline: none;
    text-decoration: none; }

article,
footer,
header,
main,
nav,
section {
  position: relative; }

section.Container {
  margin-left: auto;
  margin-right: auto; }

/******************************************************************************
* Table styling
******************************************************************************/
table {
  background-color: transparent;
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: 100%; }
  table thead > tr > th,
  table tbody > tr > td,
  table tfoot > tr > td {
    border-top: 1px solid #d9d9d9;
    line-height: 1.45;
    padding: 0.25rem 0.375rem; }
  table caption + thead > tr:first-child > th,
  table colgroup + thead > tr:first-child > th,
  table caption + thead > tr:first-child > td,
  table colgroup + thead > tr:first-child > td {
    border-top: 0; }
  table > tr {
    display: none; }
  table thead > tr > th {
    border-bottom: 2px solid #d9d9d9;
    text-align: left;
    vertical-align: bottom; }
  table tbody tr > td.NoPad {
    padding: 0; }
  table tbody tr.Active > td {
    background-color: whitesmoke; }
  table tbody tr.Risky > td {
    background-color: #ffd0d0; }
  table tbody tr.Info > td {
    background-color: #d8eefd; }
  table tbody tr.Success > td {
    background-color: #d0ffd0; }
  table tbody tr.Warning > td {
    background-color: lightyellow; }

table.Bordered {
  border: 1px solid #d9d9d9; }
  table.Bordered thead > tr > th,
  table.Bordered tbody > tr > td,
  table.Bordered tfoot > tr > td {
    border: 1px solid #d9d9d9; }
  table.Bordered thead > tr > th {
    border-bottom-width: 2px; }

table.Hot-Tracking > tbody > tr:hover > td {
  background-color: whitesmoke; }

table.Striped > tbody > tr:nth-child(odd) > td {
  background-color: whitesmoke; }

/******************************************************************************
* Header styling
******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
  font-family: "Shadows Into Light";
  font-weight: 500;
  line-height: 1.1; }

h1,
h2,
h3 {
  margin: 1em 0 0.5em 0; }

h4,
h5,
h6 {
  margin: 0.5em 0; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #999999;
  font-weight: normal;
  line-height: initial; }

h1 small,
h2 small,
h3 small {
  font-size: 0.65em; }

h4 small,
h5 small,
h6 small {
  font-size: 0.85em; }

h1 {
  border-bottom: 1px solid #d9d9d9;
  font-size: 2.55em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.1em;
  text-transform: uppercase; }

h6 {
  font-size: 1em;
  text-transform: uppercase; }

/******************************************************************************
* Monospace font elements
******************************************************************************/
code,
kbd,
pre,
samp {
  font-family: Consolas, Menlo, Monaco, "Courier New"; }

code {
  background-color: #d8eefd;
  border-radius: 3px;
  color: #0768A9;
  padding: 0.25rem 0.375rem;
  white-space: nowrap; }

kbd {
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #999999;
  color: whitesmoke;
  padding: 0.25rem 0.375rem; }

pre {
  background-color: whitesmoke;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 1.45;
  margin: 0 0 0.75rem;
  padding: 0.25rem 0.375rem;
  word-break: break-all;
  word-wrap: break-word; }
  pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap; }

/******************************************************************************
* Hyperlinks
******************************************************************************/
a {
  color: #0768A9;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    color: #043b60;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

a.Risky:hover {
  color: #5e0000; }

a.Info:hover {
  color: #043b60; }

a.Success:hover {
  color: #005e00; }

a.Warning:hover {
  color: #b3b300; }

/******************************************************************************
* Other content elements
******************************************************************************/
abbr {
  border-bottom: 1px dotted #d9d9d9;
  cursor: help; }

address {
  font-style: normal;
  line-height: 1.45;
  margin-bottom: 1.5rem; }

blockquote {
  border-left: 5px solid #d9d9d9;
  font-size: 1.25em;
  margin: 0 0 1.5rem;
  padding: 0.75rem 1.5rem; }
  blockquote::before, blockquote::after {
    content: ""; }
  blockquote footer {
    color: #999999;
    display: block;
    font-size: 0.85em;
    line-height: 1.45; }
    blockquote footer::before {
      content: '\2014 \00A0'; }

blockquote.Text-Right footer::before {
  content: ""; }

blockquote.Text-Right footer::after {
  content: '\00A0 \2014'; }

cite {
  font-style: normal; }

mark {
  background: lightyellow; }

output {
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 1.45;
  padding-top: 0.25rem; }

p {
  margin: 1em 0; }

small {
  font-size: 0.85em; }

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: ""; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  blockquote,
  pre {
    border: 1px solid #d9d9d9;
    page-break-inside: avoid; }
  button > .caret {
    border-top-color: #000 !important; }
  h2,
  h3 {
    page-break-after: avoid; }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3; }
  img {
    max-width: 100% !important; }
  img,
  tr {
    page-break-inside: avoid; }
  label {
    border: 1px solid #000; }
  select {
    background: #FFF !important; }
  nav {
    display: none; }
  table {
    border-collapse: collapse !important; }
  table.Bordered th,
  table.Bordered td {
    border: 1px solid #d9d9d9 !important; }
  td,
  th {
    background-color: #FFF !important; }
  thead {
    display: table-header-group; }
  .Print-Block {
    display: block !important; }
  .Print-Hidden {
    display: none !important; }
  .Print-Inline {
    display: inline !important; }
  .Print-Inline-Block {
    display: inline-block !important; } }

/******************************************************************************
* Element modifications
******************************************************************************/
img.Responsive {
  height: auto;
  max-width: 100%; }

/******************************************************************************
* Additional phone and small device styling
******************************************************************************/
@media screen and (max-width: 767px) {
  table {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%; }
  .Mobile-Hidden {
    display: none !important; }
  div.Responsive {
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%; } }

/******************************************************************************
* Tablets in portrait mode
******************************************************************************/
@media screen and (min-width: 768px) {
  body header nav a.Logo {
    float: none;
    margin-left: 0.75rem; }
  body header nav label[for=chkNavigation] {
    display: none; }
  body header nav ul {
    background-color: transparent;
    display: block !important;
    font-size: 1.5rem;
    height: auto;
    left: 0;
    line-height: 40px;
    margin: 0;
    padding: 0 20px 0 80px;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 100%; }
    body header nav ul li {
      display: inline-block;
      margin: 0 1rem;
      padding: 0; }
      body header nav ul li ul {
        background-clip: padding-box;
        background-color: #FFF;
        box-shadow: 0 5px 10px #999999;
        margin: 0;
        min-width: 150px;
        position: absolute;
        top: 40px;
        transition: all 0.5s ease-in-out; }
        body header nav ul li ul li > a {
          clear: both;
          color: #333;
          display: block;
          line-height: 1.45;
          padding: 0.25rem 1.5rem;
          white-space: nowrap; }
        body header nav ul li ul li > a:hover {
          color: #999999; }
      body header nav ul li a:focus + ul {
        padding: 0.375rem 0;
        z-index: 999; }
      body header nav ul li a > span:first-child ~ * {
        display: inline-block; }
    body header nav ul li:not(:first-child) {
      border-top: 0 none; }
    body header nav ul li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) > a > span:first-child {
      display: none; }
  dt {
    clear: left;
    float: left;
    font-weight: bold;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px; }
  dd {
    margin-left: 180px; }
  .Width-50 {
    width: 50% !important; }
  .Width-40 {
    width: 40% !important; }
  .Width-33 {
    width: 33.33333333% !important; }
  .Width-25 {
    width: 25% !important; }
  .Width-20 {
    width: 20% !important; }
  .Width-10 {
    width: 10% !important; } }

/******************************************************************************
* Tablets in landscape mode
******************************************************************************/
@media screen and (min-width: 992px) {
  .Column.Width-40,
  .Column.Width-33,
  .Column.Width-25,
  .Column.Width-20,
  .Column.Width-10 {
    float: left;
    padding: 0.75rem 1rem; } }

/******************************************************************************
* Desktop computers
******************************************************************************/
