/******************************************************************************
* Coloring
******************************************************************************/
.Info
{
  color: $color-red;
}

.Risky
{
  color: $color-red;
}

.Success
{
  color: $color-green;
}

.Warning
{
  color: $color-yellow;
}

/******************************************************************************
* Formatting
******************************************************************************/
.Bold
{
  font-weight: bold;
}

.Text-Center
{
  text-align: center;
}

.Text-Justify
{
  text-align: justify;
}

.Text-Left
{
  text-align: left;
}

.Text-Right
{
  text-align: right;
}

/******************************************************************************
* Grid system
******************************************************************************/
.Column.Width-100,
.Column.Width-90,
.Column.Width-80,
.Column.Width-75,
.Column.Width-66,
.Column.Width-60,
.Column.Width-50
{
  float: left;
  padding: 0.75rem 1rem;
}

.Row
{
  display: block;
}

.Row-Padded
{
  display: block;
  margin-top: 0.75rem;
}

.Row-Padded:first-child
{
  margin-top: 0;
}

.Row-Padded > .Column + .Column
{
  padding-left: 1rem;
}

.Width-100
{
  width: 100%;
}

.Width-90
{
  width: 90%;
}

.Width-80
{
  width: 80%;
}

.Width-75
{
  width: 75%;
}

.Width-66
{
  width: 66.66666667%;
}

.Width-60
{
  width: 60%;
}

.Width-50:not(th),
.Width-40:not(th),
.Width-33:not(th),
.Width-25:not(th),
.Width-20:not(th),
.Width-10:not(th)
{
  width: 100%;
}

/******************************************************************************
* Placement
******************************************************************************/
.Block-Centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Clear::before,
.Clear::after,
.Row::before,
.Row::after,
.Row-Padded::before,
.Row-Padded::after,
nav::before,
nav::after,
section.Container::before,
section.Container::after
{
  content: " ";
  display: table;
}

.Clear::after,
.Row::after,
.Row-Padded::after,
nav::after,
section.Container::after
{
  clear: both;
}

.Float-Left
{
  float: left;
}

.Float-Right
{
  float: right;
}

.Hidden
{
  display: none !important;
}

.Invisible
{
  visibility: hidden !important;
}
