$font-headings: "Shadows Into Light";
$font-monospace: Consolas, Menlo, Monaco, "Courier New";
$font-path: "fonts/";
$font-sans-serif: Calibri;
$font-serif: Georgia;

/******************************************************************************
* Embedded fonts
******************************************************************************/
@font-face
{
  font-family: $font-headings;
  src: "url(" + $font-path + "Shadows-Into-Light.ttf)";
}

@font-face
{
  font-family: $font-sans-serif;
  src: "url(" + $font-path + "Calibri.ttf)";
}
