/******************************************************************************
* Clock spinner
******************************************************************************/
@-webkit-keyframes clock
{
  to
  {
    transform: rotate(1turn);
  }
}

@keyframes clock
{
  to
  {
    transform: rotate(1turn);
  }
}

.Clock
{
  border: 6px solid $color-blue;
  border-radius: 24px;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 48px;
}

.Clock::before
{
  -moz-animation: clock 1250ms infinite linear;
  -ms-animation: clock 1250ms infinite linear;
  -webkit-animation: clock 1250ms infinite linear;
  animation: clock 1250ms infinite linear;
  background: $color-blue;
  border-radius: $control-border-radius;
  content: "";
  display: block;
  position: absolute;
  height: 19.2px;
  left: 15px;
  top: 15px;
  transform-origin: 3px 3px;
  width: 6px;
}

.Clock::after
{
  -moz-animation: clock 15000ms infinite linear;
  -ms-animation: clock 15000ms infinite linear;
  -webkit-animation: clock 15000ms infinite linear;
  animation: clock 12500ms infinite linear;
  background: $color-blue;
  border-radius: $control-border-radius;
  content: "";
  display: block;
  height: 16px;
  left: 15px;
  position: absolute;
  top: 15px;
  transform-origin: 3px 3px;
  width: 6px;
}

/******************************************************************************
* Default spinner
******************************************************************************/
@-webkit-keyframes spin
{
  to
  {
    transform: rotate(1turn);
  }
}

@keyframes spin
{
  to
  {
    transform: rotate(1turn);
  }
}

.Spinner
{
  -moz-animation: spin 0.75s infinite steps(8);
  -ms-animation: spin 0.75s infinite steps(8);
  -webkit-animation: spin 0.75s infinite steps(8);
  animation: spin 0.75s infinite steps(8);
  display: inline-block;
  height: 5em;
  font-size: 12px;
  margin: 0 0.5em;
  overflow: hidden;
  position: relative;
  text-indent: 999em;
  width: 5em;
}

.Spinner::before,
.Spinner::after,
.Spinner > div::before,
.Spinner > div::after
{
  background: $color-blue-lighter;
  border-radius: 0.2em;
  box-shadow: 0 3.5em $color-gray-lighter; /* container height - part height */
  content: "";
  height: 1.5em;
  left: 2.25em; /* (container width - part width) / 2  */
  position: absolute;
  top: 0;
  transform-origin: 50% 2.5em; /* container height / 2 */
  width: 0.5em;
}

.Spinner::before
{
  background: $color-blue-dark;
}

.Spinner::after
{
  background: $color-blue;
  transform: rotate(-45deg);
}

.Spinner > div::before
{
  background: $color-blue-lighter;
  transform: rotate(-90deg);
}

.Spinner > div::after
{
  background: $color-blue-lightest;
  transform: rotate(-135deg);
}

/******************************************************************************
* Heart spinner
******************************************************************************/
@-webkit-keyframes heartbeat
{
  0%
  {
    transform: rotate(45deg) scale(1);
  }

  14%
  {
    transform: rotate(45deg) scale(1.3);
  }

  28%
  {
    transform: rotate(45deg) scale(1);
  }

  42%
  {
    transform: rotate(45deg) scale(1.3);
  }

  70%
  {
    transform: rotate(45deg) scale(1);
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: rotate(45deg) scale(1);
  }

  14%
  {
    transform: rotate(45deg) scale(1.3);
  }

  28%
  {
    transform: rotate(45deg) scale(1);
  }

  42%
  {
    transform: rotate(45deg) scale(1.3);
  }

  70%
  {
    transform: rotate(45deg) scale(1);
  }
}

.Heartbeat
{
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -ms-animation: heartbeat 1300ms ease 0s infinite normal;
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  height: 36px;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  transform: rotate(45deg) scale(1);
  transform-origin: 50% 50%;
  width: 36px;
}

.Heartbeat::after,
.Heartbeat::before
{
  background: #EE8877;
  content: "";
  position: absolute;
}

.Heartbeat::before
{
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  height: 24px;
  left: 0;
  top: 12px;
  width: 36px;
}

.Heartbeat::after
{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 12px;
  left: 12px;
  top: 0;
  width: 24px;
}

/******************************************************************************
* Wheel spinner
******************************************************************************/
@-webkit-keyframes wheel
{
  to
  {
    transform: rotate(1turn);
  }
}

@keyframes wheel
{
  to
  {
    transform: rotate(1turn);
  }
}

.Wheel
{
  -moz-animation: wheel 1.4s infinite linear;
  -ms-animation: wheel 1.4s infinite linear;
  -webkit-animation: wheel 1.4s infinite linear;
  animation: wheel 1.4s infinite linear;
  background: $color-blue;
  background: -moz-linear-gradient(left, $color-blue 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, $color-blue 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, $color-blue 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, $color-blue 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  font-size: 10px;
  height: 11em;
  position: relative;
  text-indent: -9999em;
  width: 11em;
}

.Wheel::before
{
  background: $color-blue;
  border-radius: 100% 0 0 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.Wheel::after
{
  background: #FFF;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 75%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 75%;
}
