// Base color palette
$color-blue: #0768A9;
$color-blue-dark: darken($color-blue, 15%);
$color-blue-light: lighten($color-blue, 15%);
$color-blue-lighter: lighten($color-blue, 40%);
$color-blue-lightest: lighten($color-blue, 57.5%);
$color-gray: #333;
$color-gray-light: lighten($color-gray, 20%);
$color-gray-lighter: lighten($color-gray, 40%);
$color-gray-lightest: lighten($color-gray, 65%);
$color-green: #00AA00;
$color-green-dark: darken($color-green, 15%);
$color-green-light: lighten($color-green, 15%);
$color-green-lighter: lighten($color-green, 40%);
$color-green-lightest: lighten($color-green, 57.5%);
$color-purple: #AA00AA;
$color-purple-dark: darken($color-purple, 15%);
$color-purple-light: lighten($color-purple, 15%);
$color-purple-lighter: lighten($color-purple, 40%);
$color-purple-lightest: lighten($color-purple, 57.5%);
$color-red: #AA0000;
$color-red-dark: darken($color-red, 15%);
$color-red-light: lighten($color-red, 15%);
$color-red-lighter: lighten($color-red, 40%);
$color-red-lightest: lighten($color-red, 57.5%);
$color-yellow: #FFFF00;
$color-yellow-dark: darken($color-yellow, 15%);
$color-yellow-light: lighten($color-yellow, 15%);
$color-yellow-lighter: lighten($color-yellow, 30%);
$color-yellow-lightest: lighten($color-yellow, 44%);

// Typography
$color-body-background: #FFF;
$color-borders: $color-gray-lightest;
$color-heading: $color-gray-light;
$color-text: $color-gray;
$color-text-deemphasize: $color-gray-light;
$font-headings-weight: 500;
$font-icon: FontAwesome;
$font-size: 14px;
$font-size-large: 1.25em;
$font-size-small: 0.85em;
$font-size-tiny: 0.65em;
$font-size-h1: 2.55em;
$font-size-h2: 2.1em;
$font-size-h3: 1.7em;
$font-size-h4: 1.25em;
$font-size-h5: 1.1em;
$font-size-h6: 1em;
$line-height: 1.45;
$line-height-headings: 1.1;
$link-color: $color-blue;
$link-color-hover: $color-blue-dark;
$link-hover-decoration: underline;

// Embedded fonts
$font-headings: "Shadows Into Light";
$font-monospace: Consolas, Menlo, Monaco, "Courier New";
$font-path: "fonts/";
$font-sans-serif: Calibri;
$font-serif: Georgia;

// Form controls
$button-padding-x: 0.5rem !default;
$button-padding-y: 1rem !default;
$control-border-radius: 3px;
$control-border-width: 1px;
$control-background-color: lighten($color-gray, 76%);
$control-background-disabled: $color-gray-lighter;
$control-text-color: $color-gray;
$input-padding-x: 0.375rem !default;
$input-padding-y: 0.25rem !default;

// Navigation
$color-nav-text: #FFF;
$color-nav-text-hover: $color-yellow-lightest;
$color-nav-submenu: $color-gray;
$color-nav-submenu-text: $color-gray-lightest;
$font-size-nav: 1.25em;
$nav-height: 40;
