@{
  ViewBag.Title = "Home";
}

<article class="Text-Center">
  <h1>
    One Framework, Every Device<br />

    <small>
      Easily and efficiently scale websites and applications with a single code
      base, from phones to tablets to desktops.
    </small>
  </h1>

  <img src="~/images/devices.png" class="Responsive" />

  <p>
    The User Experience Guide provides extensive and beautiful documentation for
    designing and building incredible experiences.
  </p>

  <div class="Topic Width-33 Float-Left">
    <h2>
      <a href="~/styling">
        <i class="fa fa-paw" style="background: #0000AA;"></i>
        <div>Styling</div>
      </a>
    </h2>
  </div>

  <div class="Topic Width-33 Float-Left">
    <h2>
      <a href="~/components">
        <i class="fa fa-cogs" style="background: #AA00AA;"></i>
        <div>Components</div>
      </a>
    </h2>
  </div>
</article>
