/******************************************************************************
* Breadcrumb styling
******************************************************************************/
ol.Breadcrumb
{
  background-color: $control-background-color;
  border-radius: $control-border-radius;
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;

  li
  {
    display: inline-block;
  }

  li + li:before
  {
    color: $color-text;
    content: "/\00a0";
    padding: 0 0.375rem;
  }
}
