$button-padding-x: 0.5rem !default;
$button-padding-y: 1rem !default;
$control-border-radius: 3px;
$control-border-width: 1px;
$control-background-color: lighten($color-gray, 76%);
$control-background-disabled: $color-gray-lighter;
$control-text-color: $color-gray;
$input-padding-x: 0.375rem !default;
$input-padding-y: 0.25rem !default;

/******************************************************************************
* Button styling
******************************************************************************/
button,
.Button
{
  background-color: $control-background-color;
  background-image: none;
  border: $control-border-width solid $color-borders;
  border-radius: $control-border-radius;
  cursor: pointer;
  display: inline-block;
  padding: $button-padding-x $button-padding-y;
  text-align: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &.Active
  {
    background-image: none;
    box-shadow: inset 0 3px 5px $color-gray-lighter;
    outline: 0;

    &:focus
    {
      border-color: $color-blue;
      box-shadow: inset 0 1px 1px $color-gray-lighter, 0 0 8px $color-blue;
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color; // Fix Webkit inconsistencies
      outline-offset: -2px;
    }
  }

  &:focus,
  &:hover
  {
    background-color: $control-background-color;
    color: $color-text;
    text-decoration: none;
  }

  &:disabled,
  &.Disabled
  {
    background-color: $control-background-disabled;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none; // Disable clicks on <a> elements
  }
}

button.Dark,
.Button.Dark
{
  background: $color-gray-light !important;
  border: 1px solid $color-gray !important;
  color: #FFF !important;

  &:focus,
  &:hover
  {
    background: $color-gray-lighter !important;
    border: 1px solid $color-gray-light !important;
  }
}

button.Ethereal,
button.Ethereal:hover,
button.Ethereal:active
{
  background: transparent;
  border: 0 none;
  border-radius: initial;
  box-shadow: none;
  margin: 0;
  outline: none;
  padding: 0;
  transition: none;
}

button.Link
{
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &:disabled,
  &:focus,
  &:hover
  {
    background: transparent;
    border: 0 none;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  &:focus,
  &:hover
  {
    color: $link-color-hover;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }

  &:disabled
  {
    color: $color-gray-lighter;
    text-decoration: none;
  }
}

button.Light,
.Button.Light
{
  background: $color-gray-lighter !important;
  border: 1px solid $color-gray-light !important;

  &:focus,
  &:hover
  {
    background: $color-gray-lightest !important;
    border: 1px solid $color-gray-lighter !important;
  }
}

button.Risky,
.Button.Risky
{
  background: $color-red !important;
  border: 1px solid $color-red-dark !important;
  color: #FFF !important;

  &:focus,
  &:hover
  {
    background: $color-red-dark !important;
    border: 1px solid $color-red-dark !important;
    color: #FFF !important;
  }
}

button.Suggested
{
  background: $color-blue !important;
  border: 1px solid $color-blue-dark !important;
  color: #FFF !important;

  &:focus,
  &:hover
  {
    background: $color-blue-dark !important;
    border: 1px solid $color-blue-dark !important;
    color: #FFF !important;
  }
}

input[type="button"],
input[type="image"],
input[type="submit"]
{
  display: none !important; // Not semantic, should be avoided
}

/******************************************************************************
* Toolbar and Ribbon styling
******************************************************************************/
div.Ribbon
{
  div.Toolbar:not(:first-child)
  {
    margin-left: 5px;
  }

  div.Toolbar-Vertical:not(:first-child)
  {
    margin-top: 5px;
  }
}

div.Toolbar,
div.Toolbar-Vertical
{
  display: inline-block;
  position: relative;
  vertical-align: middle;

  button,
  .Button
  {
    background-color: $control-background-color;
    border-color: $color-borders;
    color: $color-text;
    float: left;
    position: relative;
  }

  button:focus,
  .Button:focus,
  button:hover,
  .Button:hover
  {
    background-color: $control-background-color;
    border-color: $color-borders;
    box-shadow: none;
    outline: none;
    z-index: 2;
  }

  button:active,
  button.Active,
  .Button:active,
  .Button.Active
  {
    background-color: $control-background-color;
    box-shadow: 0 0 10px $color-gray-lighter;
    outline: 0;
  }

  button:not(:first-child):not(:last-child),
  .Button:not(:first-child):not(:last-child),
  button:not(:first-child):not(:last-child),
  .Button:not(:first-child):not(:last-child)
  {
    border-radius: 0;
  }
}

div.Toolbar
{
  button + button,
  .Button + .Button
  {
    margin-left: -1px;
  }

  button:first-child:not(:last-of-type),
  .Button:first-child:not(:last-of-type)
  {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 0;
  }

  button:last-child:not(:first-child),
  .Button:last-child:not(:first-child)
  {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

div.Toolbar-Vertical
{
  button,
  .Button
  {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
  }

  button + button,
  .Button + .Button
  {
    margin-top: -1px;
  }

  button:first-child:not(:last-child),
  .Button:first-child:not(:last-child)
  {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
  }

  button:last-child:not(:first-child),
  .Button:last-child:not(:first-child)
  {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/******************************************************************************
* Form control styling
******************************************************************************/
input,
select,
textarea
{
  background-color: $control-background-color;
  background-image: none;
  border: $control-border-width solid $color-borders;
  border-radius: $control-border-radius;
  box-sizing: border-box !important;
  color: $control-text-color;
  display: block;
  font-family: inherit;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  padding: $input-padding-y $input-padding-x;
  transition: border-color ease-in-out 0.15s,
              box-shadow ease-in-out 0.15s;
  width: 100%;

  &:focus
  {
    border-color: $color-blue;
    box-shadow: inset 0 1px 1px $color-gray-lighter, 0 0 8px $color-blue;
    outline: none;
  }

  &[required]:invalid
  {
    border-color: $color-red;
    box-shadow: inset 0 1px 1px $color-gray-lighter, 0 0 8px $color-red;
  }

  &:disabled,
  &[readonly]
  {
    background-color: $control-background-disabled;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
  }

  &::placeholder
  {
    color: $color-gray-lighter;
    opacity: 1; // Fix Firefox inconsistency
  }
}

input[type="checkbox"],
input[type="radio"]
{
  border: 0 none;
  border-radius: 0;
  display: inline-block;
  height: auto;
  line-height: normal;
  margin: 2px 2px 0 0;
  vertical-align: text-top;
  width: auto;

  &:focus
  {
    box-shadow: none;
    outline: none;
  }
}

input[type="file"],
input[type="range"]
{
  display: block; // Force file and range <input> to block
}

select
{
  &::-ms-expand
  {
    background-color: transparent; // Remove the caret in Edge
    border: 0;
  }
}

select[multiple],
select[size]
{
  height: auto;
}

textarea
{
  height: auto;
}

/******************************************************************************
* Form element groups
******************************************************************************/
.Form-Group
{
  margin-bottom: 1rem;

  &.Icon-Left,
  &.Icon-Right
  {
    position: relative;

    i
    {
      bottom: 7px;
      position: absolute;
      text-align: center;
      width: 32px;
      z-index: 2;
    }
  }

  &.Icon-Left input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"])
  {
    padding-left: 32px;
  }

  &.Icon-Right input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"])
  {
    padding-right: 32px;
  }

  &.Icon-Left i
  {
    left: 0;
  }

  &.Icon-Right i
  {
    right: 0;
  }
}

form.Inline
{
  .Form-Group
  {
    display: inline-flex;
    margin-bottom: 0;
    vertical-align: middle;
  }

  input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]),
  select,
  textarea
  {
    display: inline-block;
    flex-grow: 1;
    vertical-align: middle;
    width: auto;
  }

  label
  {
    margin-bottom: 0;
    padding: $input-padding-x $input-padding-y;
  }
}

form[clean]
{
  input,
  select,
  textarea
  {
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
}

/******************************************************************************
* Meter styling
******************************************************************************/
meter
{
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: $control-border-radius;
  display: block;
}

meter::-webkit-meter-bar
{
  background: $control-background-color;
  box-shadow: 0 2px 5px $color-gray-lighter inset;
}

meter::-webkit-meter-optimum-value
{
  background: $color-green;
  box-shadow: 0 2px 5px $color-gray-lighter inset;
}

meter::-webkit-meter-suboptimum-value
{
  background: $color-yellow;
  box-shadow: 0 2px 5px $color-gray-lighter inset;
}

meter::-webkit-meter-even-less-good-value
{
  background: $color-red;
  box-shadow: 0 2px 5px $color-gray-lighter inset;
}

/******************************************************************************
* Progress bar styling
******************************************************************************/
progress
{
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: $control-background-color;
  border: 0 none;
  border-radius: $control-border-radius;
  color: $color-blue;
}

progress::-webkit-progress-bar
{
  border-radius: $control-border-radius;
}

progress[value]::-webkit-progress-bar
{
  background: $control-background-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value
{
  background: $color-blue;
  border-radius: $control-border-radius;
}

progress:not([value])
{
  display: none;
}

/******************************************************************************
* Miscellaneous form element styling
******************************************************************************/
fieldset
{
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

figure
{
  margin: 0;
}

hr
{
  border: 0;
  border-top: 1px solid $color-borders;
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img
{
  vertical-align: middle;
}

img.Rounded
{
  border-radius: $control-border-radius;
}

img.Circle
{
  border-radius: 50%;
}

img.Bordered
{
  background-color: $control-background-color;
  border: 1px solid $color-borders;
  display: inline-block;
  max-width: 100%;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

label
{
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

label.Checkable
{
  cursor: pointer;
  font-weight: normal;
  padding-top: 0;

  input[type="checkbox"],
  input[type="radio"]
  {
    margin-top: -2px;
    vertical-align: middle;
  }
}

label.ScreenReader
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:absolute;
  width: 1px;
}

legend
{
  border: 0;
  border-bottom: 1px solid $color-borders;
  color: $color-text;
  display: block;
  font-size: 1.45em;
  line-height: inherit;
  margin-bottom: 1.5rem;
  padding: 0;
  width: 100%;
}
