form.Metaform > fieldset
{
  border-top: 1px solid $color-borders;
  clear: none;
  margin: 1rem 0 0 0;
  min-width: 0;
  padding: 1rem 0.75rem;
  position: relative;
}

form.Metaform > fieldset > header
{
  background: #FFF;
  color: $color-text;
  font-size: 1.3rem;
  font-weight: bold;
  left: 20px;
  padding: 0 0.5rem;
  position: absolute;
  top: -12px;
  z-index: 2;
}

form.Metaform i.Anchor
{
  background: #FFF;
  color: $color-borders;
  cursor: move;
  font-size: 1.3rem;
  position: absolute;
}

form.Metaform > fieldset > i.Anchor
{
  display: none;
  left: 0;
  padding: 0 0.5rem;
  top: -0.75rem;
}

form.Metaform > fieldset > i.fa-chevron-down,
form.Metaform > fieldset > i.fa-chevron-up
{
  background: #FFF;
  cursor: pointer;
  font-size: 1.15rem;
  left: 0;
  padding: 0 0.2rem;
  position: absolute;
  top: -0.75rem;
}

form.Metaform > fieldset > i.fa-close
{
  background: #FFF;
  color: $color-borders;
  cursor: pointer;
  display: none;
  right: 0;
  position: absolute;
  top: -0.55rem;
}

form.Metaform > fieldset.Movable > i.Anchor,
form.Metaform > fieldset.Movable > i.fa-close
{
  display: inline-block;
}

form.Metaform > fieldset.Movable > i.fa-chevron-down,
form.Metaform > fieldset.Movable > i.fa-chevron-up
{
  display: none;
}

form.Metaform ol.Forms
{
  list-style: none;
  margin: 0;
  padding: 0;
}

form.Metaform ol.Forms > li.Form-Group > i
{
  background: transparent;
  color: $color-borders;
  display: none;
  font-size: 1rem;
  position: absolute;
  z-index: 2;
}

form.Metaform ol.Forms > li.Form-Group > i.Anchor
{
  left: 0.375rem;
  top: 0.7rem;
}

form.Metaform ol.Forms > li.Form-Group > i.fa-close
{
  cursor: pointer;
  right: 0.375rem;
  top: 0.75rem;
}

form.Metaform ol.Forms.Movable > li
{
  border: 1px solid $color-borders;
  border-radius: $control-border-radius;
}

form.Metaform ol.Forms.Movable > li.Form-Group > i
{
  display: inline-block;
}

form.Metaform ol.Forms.Movable input,
form.Metaform ol.Forms.Movable select,
form.Metaform ol.Forms.Movable textarea
{
  cursor: default;
}

form.Metaform .Sortable-Placeholder
{
  border: 1px dashed $color-borders !important;
  clear: none;
  display: inline-block;
  height: 35px;
  margin-bottom: -1rem !important;
  width: 50%;
}

form.Metaform.Inline li.Form-Group
{
  display: inline-block;
  margin-bottom: 0.375rem;
  position: relative;
  width: 50%;
}

form.Metaform.Inline input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]),
form.Metaform.Inline select,
form.Metaform.Inline textarea
{
  width: 200px;
}

form.Metaform.Inline label
{
  padding-right: 0.5rem;
  width: 150px;
}

form.Metaform textarea
{
  height: 117px;
}

form.Metaform:not(.New) input.Editable,
form.Metaform:not(.New) select.Editable,
form.Metaform:not(.New) textarea.Editable,
form.Metaform > fieldset > ol.Forms.Movable input,
form.Metaform > fieldset > ol.Forms.Movable select,
form.Metaform > fieldset > ol.Forms.Movable textarea
{
  background: transparent !important;
  border: 1px solid transparent !important;
  box-shadow: none;
}
  
form.Metaform:not(.New) input.Editable:focus,
form.Metaform:not(.New) select.Editable:focus,
form.Metaform:not(.New) textarea.Editable:focus,
form.Metaform:not(.New) input.Editable:hover,
form.Metaform:not(.New) select.Editable:hover,
form.Metaform:not(.New) textarea.Editable:hover
{
  background: #FFF !important;
  border: 1px solid $color-borders !important;
  box-shadow: inset 0 1px 1px $color-gray-lighter;
}