.Pull-Out
{
  position: absolute;
  z-index: 998;
}

.Pull-Out.Fixed
{
  position: fixed;
}

.Pull-Out > i.fa
{
  padding: 0.375rem 0.2rem;
  position: absolute;
}

.Pull-Out > i.fa:hover
{
  visibility: hidden;
}

.Pull-Out > div
{
  background: #FFF;
  border: 0 none;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0.375rem;
  width: 0;
}

.Pull-Out > div > label:first-child,
.Pull-Out > i.fa
{
  background: $control-background-color;
  border: 1px solid $color-borders;
  border-radius: $control-border-radius;
  cursor: pointer;
}

.Pull-Out > input[type="checkbox"],
.Pull-Out > div > label:first-child
{
  position: absolute;
  right: -1px;
  top: 0;
}

.Pull-Out > div > label:first-child
{
  padding: 0.375rem 0.5rem 0.375rem 0.45rem;
  transform: rotate(90deg);
}

.Pull-Out > input[type="checkbox"]:checked ~ div > label:first-child
{
  transform: rotate(0deg);
}

.Pull-Out.Bottom,
.Pull-Out.Top
{
  height: 0;
  left: 0;
  width: 100%;
}

.Pull-Out.Left,
.Pull-Out.Right
{
  height: 100%;
  padding-top: 40px;
  top: 0;
  width: 0;
}

.Pull-Out.Bottom > i.fa,
.Pull-Out.Top > i.fa
{
  left: 50%;
}

.Pull-Out.Left > i.fa,
.Pull-Out.Right > i.fa
{
  top: 50%;
}

.Pull-Out.Bottom > div,
.Pull-Out.Top > div
{
  transition: height 0.5s ease-in-out;
}

.Pull-Out.Left > div,
.Pull-Out.Right > div
{
  transition: width 0.5s ease-in-out;
}

.Pull-Out.Bottom
{
  bottom: 0;
}

.Pull-Out.Bottom > i.fa
{
  border-bottom: 0 none;
  bottom: 0;
}

.Pull-Out.Bottom > i.fa:before
{
  content: "\f077";
}

.Pull-Out.Bottom > input[type="checkbox"]:checked ~ div,
.Pull-Out.Bottom > i.fa:hover + div,
.Pull-Out.Bottom > div:hover
{
  border: 1px solid $color-borders;
  height: 300px;
  width: 100%;
}

.Pull-Out.Left
{
  left: 0;
}

.Pull-Out.Left > i.fa
{
  border-left: 0 none;
  left: 0;
}

.Pull-Out.Left > i.fa:before
{
  content: "\f054";
}

.Pull-Out.Left > input[type="checkbox"]:checked ~ div,
.Pull-Out.Left > i.fa:hover + div,
.Pull-Out.Left > div:hover
{
  border: 1px solid $color-borders;
  height: 100%;
  width: 300px;
}

.Pull-Out.Right
{
  right: 0;
}

.Pull-Out.Right > i.fa
{
  border-right: 0 none;
  right: 0;
}

.Pull-Out.Right > i.fa:before
{
  content: "\f053";
}

.Pull-Out.Right > div
{
  position: absolute;
  right: 0;
}

.Pull-Out.Right > input[type="checkbox"]:checked ~ div,
.Pull-Out.Right > i.fa:hover + div,
.Pull-Out.Right > div:hover
{
  border: 1px solid $color-borders;
  height: 100%;
  width: 300px;
}

.Pull-Out.Top
{
  top: 40px;
}

.Pull-Out.Top > i.fa
{
  border-top: 0 none;
  top: 0;

}

.Pull-Out.Top > i.fa:before
{
  content: "\f078";
}

.Pull-Out.Top > input[type="checkbox"]:checked ~ div,
.Pull-Out.Top > i.fa:hover + div,
.Pull-Out.Top > div:hover
{
  border: 1px solid $color-borders;
  height: 300px;
  width: 100%;
}