div.Accordion-Vertical > *,
div.Accordion-Horizontal > *
{
  transition: all 0.3s ease-in-out;
}

div.Accordion-Vertical > header,
div.Accordion-Horizontal > header
{
  background: $color-control-background;
  border: 1px solid $color-control-border;
  border-radius: $border-radius;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  padding: 5px;
}

div.Accordion-Vertical > header.Expanded,
div.Accordion-Horizontal > header.Expanded
{
  background: $color-blue;
  border-radius: $border-radius $border-radius 0 0;
  color: #FFF;
  cursor: default;
}

div.Accordion-Vertical > section,
div.Accordion-Horizontal > section
{
  border: 0 none;
  color: #FFF;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div.Accordion-Vertical
{
  float: left;
  width: 100%;
}

div.Accordion-Vertical > section
{
  border-radius: 0 0 $border-radius $border-radius;
  width: 100%;
}

div.Accordion-Vertical > header.Expanded + section
{
  border: 1px solid $color-control-border;
  border-left: 0 none;
  color: $color-text;
  height: auto;
  padding: 5px;
}

div.Accordion-Horizontal
{
  float: right;
  height: 100%;
}

div.Accordion-Horizontal > header
{
  float: left;
  height: 100%;
  margin: 0;
  position: relative;
  width: 55px;
}

div.Accordion-Horizontal > header > div
{
  bottom: 90px;
  cursor: pointer;
  position: absolute;
  right: -65px;
  transform: rotate(-90deg);
  width: 190px;
}

div.Accordion-Horizontal > header.Expanded > div
{
  cursor: default;
}

div.Accordion-Horizontal > section
{
  border-radius: 0 $border-radius $border-radius 0;
  float: left;
  height: 100%;
  width: 0;
}

div.Accordion-Horizontal > header.Expanded + section
{
  border: 1px solid $color-control-border;
  border-left: 0 none;
  color: $color-text;
  padding: 5px;
  width: 200px;
}