div.PasswordStrength
{
  display: inline-block;
  position: relative;
}

div.Strength
{
  display: none;
}

div.Strength > div.Meter
{
  background: $color-control-background;
  height: 5px;
  margin: 0.25em 0;
}

div.Strength > div.Meter > span,
div.Strength.Weak > div.Meter > span
{
  background: $color-red;
  display: block;
  height: 100%;
  width: 25%;
}

div.Strength.Fair > div.Meter > span
{
  background: #FAFA00;
  width: 50%;
}

div.Strength.Moderate > div.Meter > span
{
  background: #0000AA;
  width: 75%
}

div.Strength.Strong > div.Meter > span
{
  background: $color-green;
  width: 100%;
}