@media print
{
  *
  {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited
  {
    text-decoration: underline;
  }

  a[href]:after
  {
    content: " (" attr(href) ")";
  }

  abbr[title]:after
  {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after
  {
    content: "";
  }

  blockquote,
  pre
  {
    border: 1px solid #DDD;
    page-break-inside: avoid;
  }

  button > .caret
  {
    border-top-color: #000 !important;
  }

  h2,
  h3
  {
    page-break-after: avoid;
  }

  h2,
  h3,
  p
  {
    orphans: 3;
    widows: 3;
  }

  img
  {
    max-width: 100% !important;
  }

  img,
  tr
  {
    page-break-inside: avoid;
  }

  label
  {
    border: 1px solid #000;
  }

  select
  {
    background: #FFF !important;
  }

  nav
  {
    display: none;
  }

  table
  {
    border-collapse: collapse !important;
  }

  table.Bordered th,
  table.Bordered td
  {
    border: 1px solid #DDD !important;
  }

  td,
  th
  {
    background-color: #FFF !important;
  }

  thead
  {
    display: table-header-group;
  }

  .Print-Block
  {
    display: block !important;
  }

  .Print-Hidden
  {
    display: none !important;
  }

  .Print-Inline
  {
    display: inline !important;
  }

  .Print-Inline-Block
  {
    display: inline-block !important;
  }
}
