/******************************************************************************
* Element modifications
******************************************************************************/
img.Responsive
{
  height: auto;
  max-width: 100%;
}

/******************************************************************************
* Other mobile devices (typically phones)
******************************************************************************/
@media screen and (max-width: 767px)
{
  table
  {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $color-control-border;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }

  .Mobile-Hidden
  {
    display: none !important;
  }

  div.Responsive
  {
    border: 1px solid $color-control-border;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
}

/******************************************************************************
* Tablets in portrait mode
******************************************************************************/
@media screen and (min-width: 768px)
{
  dt
  {
    clear: left;
    float: left;
    font-weight: bold;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }

  dd
  {
    margin-left: 180px;
  }

  body > nav > a.Logo
  {
    float: none;
    margin-left: 10px;
  }

  body > nav > label[for="chkNavigation"]
  {
    display: none;
  }

  body > nav > ul
  {
    background-color: transparent;
    display: block !important;
    font-size: 20px;
    height: auto;
    left: 0;
    line-height: 40px;
    margin: 0;
    padding: 0 20px 0 80px;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 100%;
  }

  body > nav > ul > li
  {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
  }

  body > nav > ul > li:not(:first-child)
  {
    border-top: 0 none;
  }

  body > nav > ul > li > ul
  {
    background-clip: padding-box;
    background-color: #FFF;
    box-shadow: 0 5px 10px $color-gray-lighter;
    margin: 0;
    min-width: 150px;
    position: absolute;
    top: 40px;
    transition: all 0.5s ease-in-out;
  }

  body > nav > ul > li > a:focus + ul
  {
    padding: 5px 0;
    z-index: 999;
  }

  body > nav > ul > li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) > a > span:first-child
  {
    display: none;
  }

  body > nav > ul > li > a > span:first-child ~ *
  {
    display: inline-block;
  }

  body > nav > ul > li > ul > li > a
  {
    clear: both;
    color: $color-text;
    display: block;
    line-height: $line-height;
    padding: 3px 20px;
    white-space: nowrap;
  }

  body > nav > ul > li > ul > li > a:hover
  {
    color: $color-gray-lighter;
  }

  .Width-50
  {
    width: 50% !important;
  }

  .Width-40
  {
    width: 40% !important;
  }

  .Width-33
  {
    width: 33.33333333% !important;
  }

  .Width-25
  {
    width: 25% !important;
  }

  .Width-20
  {
    width: 20% !important;
  }

  .Width-10
  {
    width: 10% !important;
  }
}

/******************************************************************************
* Tablets in landscape mode
******************************************************************************/
@media screen and (min-width: 992px)
{  
  .Column.Width-40,
  .Column.Width-33,
  .Column.Width-25,
  .Column.Width-20,
  .Column.Width-10
  {
    float: left;
    padding: 10px 15px;
  }
}

/******************************************************************************
* Desktop computers
******************************************************************************/
@media screen and (min-width: 1200px)
{
}