.Toasty
{
  height: auto;
  min-width: 250px;
  position: fixed;
  right: 10px;
  top: 40px;
  width: 10%;
  z-index: 9995;
}

.Toasty:empty
{
  display: none;
}

.Toasty > div
{
  background: $color-text;
  border: 1px solid #000;
  border-radius: $border-radius;
  box-shadow: 0 0 10px $color-gray-lighter;
  color: #FFF;
  margin: 10px 0;
  max-height: 150px;
  opacity: 0.75;
  overflow: hidden;
  padding: 5px;
  position: relative;
  -moz-transition: margin 0.5s ease-in-out,
                   max-height 0.5s ease-in-out,
                   padding 0.5s ease-in-out,
                   opacity 0.5s ease-in-out;
  -ms-transition: margin 0.5s ease-in-out,
                  max-height 0.5s ease-in-out,
                  padding 0.5s ease-in-out,
                  opacity 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out,
                      max-height 0.5s ease-in-out,
                      padding 0.5s ease-in-out,
                      opacity 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out,
              max-height 0.5s ease-in-out,
              padding 0.5s ease-in-out,
              opacity 0.5s ease-in-out;
  width: 100%;
}

.Toasty > div.Toast
{
  opacity: 0.9;
}

.Toasty > div.Fade
{
  margin: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
  -moz-transition-delay: 4s, 4s, 4s, 3s;
  -ms-transition-delay: 4s, 4s, 4s, 3s;
  -webkit-transition-delay: 4s, 4s, 4s, 3s;
  transition-delay: 4s, 4s, 4s, 3s;
}

.Toasty > div.Acknowledged
{
  margin: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
  -moz-transition-delay: 1s, 1s, 1s, 0s;
  -ms-transition-delay: 1s, 1s, 1s, 0s;
  -webkit-transition-delay: 1s, 1s, 1s, 0s;
  transition-delay: 1s, 1s, 1s, 0s;
}

.Toasty > div:hover:not(.Acknowledged)
{
  margin: 10px 0 !important;
  max-height: 150px !important;
  opacity: 0.9 !important;
  padding: 5px !important;
  -moz-transition-transition-duration: 0s;
  -ms-transition-transition-duration: 0s;
  -webkit-transition-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.Toasty > div.Error
{
  background: $color-red-lightest;
  border: 1px solid $color-red;
  color: $color-red;
}

.Toasty > div.Information
{
  background: $color-blue-lightest;
  border: 1px solid $color-blue;
  color: $color-blue;
}

.Toasty > div.Light
{
  background: $color-control-background;
  border: 1px solid $color-border;
  color: $color-text;
}

.Toasty > div.Success
{
  background: $color-green-lightest;
  border: 1px solid $color-green;
  color: $color-green;
}

.Toasty > div.Warning
{
  background: $color-yellow-lightest;
  border: 1px solid $color-yellow-dark;
  color: $color-yellow-dark;
}

.Toasty > div > large
{
  display: block;
  margin-bottom: 0.5em;
}

.Toasty > div > button
{
  background: transparent;
  border: 0 none;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 0;
}

.Toasty > div > img
{
  float: left;
  height: 48px;
  margin-right: 0 10px 10px 0;
  width: 48px;
}