/******************************************************************************
* Accordion styling
******************************************************************************/
dragline-accordion
{
  display: inline-block;
  width: 25%;

  *
  {
    transition: all 0.3s ease-in-out;
  }

  header
  {
    background: $control-background-color;
    border: 1px solid $color-borders;
    border-radius: $control-border-radius;
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0.375rem;
    width: 100%;
  }

  header[expanded]
  {
    background: $color-blue;
    border-radius: $control-border-radius $control-border-radius 0 0;
    color: #FFF;
    cursor: default;

    & + section
    {
      border: 1px solid $color-borders;
      border-left: 0 none;
      color: $color-text;
      height: auto;
      padding: 0.375rem;
    }
  }

  section
  {
    border: 0 none;
    border-radius: 0 0 $control-border-radius $control-border-radius;
    color: #FFF;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
}

dragline-accordion[orientation="horizontal"]
{
  display: inline-flex;
  height: 25%;
  width: auto;

  header
  {
    height: 100%;
    transform: rotate(-90deg);
    width: 4rem;
  }

  header[expanded] + section
  {
    height: 100%;
    flex-grow: 1;
  }

  section
  {
    border-radius: 0 $control-border-radius $control-border-radius 0;
    display: inline-block;
    height: 100%;
    width: 0;
  }
}