@{
    ViewBag.Title = "Libraries";
}

<h1>Libraries</h1>

<p>
  Careful consideration must be exercised when scrutinizing libraries to
  include in a web application. Many libraries have their own syntax - the
  most well known being jQuery - which completely changes how a developer
  codes and thus has a steeper learning curve.
</p>

<p>
  Before a new library can be included in an application, it must also be
  approved by legal. This will require the URL to the library, the reason
  the library is necessary, and the license used by the library.
</p>

<h2>Approved Libraries</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>License</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>jQuery</td>
      <td>http://www.jquery.com</td>
      <td>MIT</td>
      <td>Common functions, cross-browser compatibility, and shortcut functions.</td>
    </tr>
    <tr>
      <td>jQuery UI</td>
      <td>http://jqueryui.com/</td>
      <td>MIT</td>
      <td>Awesome UI elements.</td>
    </tr>
    <tr>
      <td>Knockout</td>
      <td>http://www.knockoutjs.com</td>
      <td>MIT</td>
      <td>Declarative binding, dependency tracking, and templating.</td>
    </tr>
    <tr>
      <td>Knockout Mapping</td>
      <td>http://knockoutjs.com/documentation/plugins-mapping.html</td>
      <td>MIT</td>
      <td>Automatic mapping of JSON and JavaScript objects into observables.</td>
    </tr>
    <tr>
      <td>Lo-Dash</td>
      <td>http://lodash.com/</td>
      <td>Custom Open Source License</td>
      <td>Optimized common functions.</td>
    </tr>
    <tr>
      <td>Modernizr</td>
      <td>http://modernizr.com/</td>
      <td>MIT</td>
      <td>Browser feature detection.</td>
    </tr>
    <tr>
      <td>Moment</td>
      <td>http://momentjs.com/</td>
      <td>MIT</td>
      <td>Common functions with dates and time.</td>
    </tr>
    <tr>
      <td>D3</td>
      <td>http://d3js.org/</td>
      <td>BSD</td>
      <td>SVG data-driven visualizations.</td>
    </tr>
    <tr>
      <td>Snap</td>
      <td>http://snapsvg.io/</td>
      <td>Apache 2</td>
      <td>SVG library.</td>
    </tr>
  </tbody>
</table>

<h3>Content Delivery Networks (CDNs)</h3>

<p>
  When available, use a CDN to include a library in a project. CDNs ensure
  quick access for end users no matter where they're located. The preferred
  CDN for JavaScript libraries is CloudFlare.
</p>