/******************************************************************************
* Password Strength styling
******************************************************************************/
dragline-password-strength
{
  display: inline-block;
  position: relative;

  &::shadow
  {
    div.Strength
    {
      display: none;

      > div.Meter
      {
        background: $control-background-color;
        height: 0.375rem;
        margin: 0.25rem 0;
      }

      &.Weak > div.Meter > span
      {
        background: $color-red;
        display: block;
        height: 100%;
        width: 25%;
      }

      &.Fair > div.Meter > span
      {
        background: $color-yellow;
        width: 50%;
      }

      &.Moderate > div.Meter > span
      {
        background: $color-blue;
        width: 75%
      }

      &.Strong > div.Meter > span
      {
        background: $color-green;
        width: 100%;
      }
    }
  }

  &[active]::shadow
  {
    > div.Strength
    {
      display: inline-block;
    }
  }
}
