/******************************************************************************
* Pull-Out styling
******************************************************************************/
dragline-pull-out
{
  background: #FFF;
  position: absolute;
  z-index: 998;

  &::shadow
  {
    > section
    {
      border: 1px solid transparent;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
      padding: 0;
      position: relative;

      > i
      {
        background: $control-background-color;
        border: 1px solid $color-borders;
        border-radius: $control-border-radius;
        cursor: pointer;
        padding: 0.35rem;
      }

      > div
      {
        margin: 0;
        max-height: 0;
        max-width: 0;
        padding: 0;
        overflow: hidden;
      }
    }
  }

  &[location=bottom],
  &[location=top]
  {
    left: 0;

    &::shadow
    {
      > section
      {
        > i
        {
          left: 50%;
          margin-left: calc((1em + 0.7rem) / 2 * -1);
          position: absolute;
        }

        > div
        {
          max-width: 4096px;
          opacity: 0;
          transition: max-height 1s,
                      opacity 1s,
                      padding-bottom 1s,
                      padding-top 1s;
        }
      }
    }
  }

  &[location=bottom]
  {
    bottom: 0;

    &::shadow
    {
      > section
      {
        > i
        {
          border-bottom: 0 none;
          top: calc((1em + 0.7rem) * -1);

          &::before
          {
            content: "\f077";
          }
        }
      }
    }
  }

  &[location=top]
  {
    &::shadow
    {
      > section
      {
        > i
        {
          border-top: 0 none;
          bottom: calc((1em + 0.7rem) * -1);

          &::before
          {
            content: "\f078";
          }
        }
      }
    }
  }

  &[location=left],
  &[location=right]
  {
    &::shadow
    {
      > section
      {
        > i
        {
          margin-top: calc((1em + 0.7rem) / 2 * -1);
          position: absolute;
          top: 50%;
        }

        > div
        {
          max-height: 2160px;
          transition: max-width 1s,
                      opacity 1s,
                      padding-left 1s,
                      padding-right 1s;
        }
      }
    }
  }

  &[location=left]
  {
    left: 0;

    &::shadow
    {
      > section
      {
        > i
        {
          border-left: 0 none;
          right: calc((1em + .5rem) * -1);

          &::before
          {
            content: "\f054";
          }
        }
      }
    }
  }

  &[location=right]
  {
    right: 0;

    &::shadow
    {
      > section
      {
        > i
        {
          border-right: 0 none;
          left: calc((1em + .5rem) * -1);

          &::before
          {
            content: "\f053";
          }
        }
      }
    }
  }

  &[active]
  {
    &::shadow
    {
      > section
      {
        border: 1px solid $color-borders;

        > div
        {
          max-height: 2160px;
          max-width: 4096px;
          opacity: 1;
          padding: 0.35rem;
        }
      }
    }

    &[location=bottom]::shadow > i::before
    {
      content: "\f078";
    }

    &[location=left]::shadow > i::before
    {
      content: "\f053";
    }

    &[location=right]::shadow > i::before
    {
      content: "\f054";
    }

    &[location=top]::shadow > i::before
    {
      content: "\f077";
    }
  }
}