/******************************************************************************
* Classes applicable to any element
******************************************************************************/
.Block-Centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Bold
{
  font-weight: bold;
}

nav:before,
nav:after,
.Clear:before,
.Clear:after,
.Row:before,
.Row:after,
.Row-Padded:before,
.Row-Padded:after,
div.Form-Group:before,
div.Form-Group:after,
section.Container:before,
section.Container:after
{
  content: " ";
  display: table;
}

nav:after,
.Clear:after,
.Row:after,
.Row-Padded:after,
.Clear-After,
div.Form-Group:after,
section.Container:after
{
  clear: both;
}

.Column.Width-100,
.Column.Width-90,
.Column.Width-80,
.Column.Width-75,
.Column.Width-66,
.Column.Width-60,
.Column.Width-50
{
  float: left;
  padding: 10px 15px;
}

.Error
{
  color: #AA0000;
}

.Float-Left
{
  float: left !important;
}

.Float-Right
{
  float: right !important;
}

.Hand
{
  cursor: pointer;
}

.Hidden
{
  display: none !important;
}

.Info
{
  color: #0000AA;
}

.Invisible
{
  visibility: hidden !important;
}

.Row
{
  display: block;
  width: 100%;
}

.Row-Padded
{
  display: block;
  margin-top: 10px;
  width: 100%;
}

.Row-Padded:first-child
{
  margin-top: 0;
}

.Row-Padded > .Column + .Column
{
  padding-left: 20px;
}

.Success
{
  color: #00AA00;
}

.Text-Center
{
  text-align: center;
}

.Text-Justify
{
  text-align: justify;
}

.Text-Left
{
  text-align: left;
}

.Text-Right
{
  text-align: right;
}

.Warning
{
  color: #EF9801;
}

.Width-100
{
  width: 100%;
}

.Width-90
{
  width: 90%;
}

.Width-80
{
  width: 80%;
}

.Width-75
{
  width: 75%;
}

.Width-66
{
  width: 66.66666667%;
}

.Width-60
{
  width: 60%;
}

.Width-50
{
  width: 50%;
}

.Width-40
{
  width: 40%;
}

.Width-33
{
  width: 33.33333333%;
}

.Width-25
{
  width: 25%;
}

.Width-20
{
  width: 20%;
}

.Width-10
{
  width: 10%;
}

/******************************************************************************
* Element-specific classes
******************************************************************************/
a.Error:hover
{
  color: #880000;
}

a.Info:hover
{
  color: #000088;
}

a.Success:hover
{
  color: #008800;
}

a.Warning:hover
{
  color: #D38601;
}

blockquote.Text-Right > footer:before
{
  content: "";
}

blockquote.Text-Right > footer:after
{
  content: '\00A0 \2014';
}

button.Dark
{
  background: #666;
  border: 1px solid #666;
  color: #FFF;
}

button.Dark:focus,
button.Dark:hover
{
  background: #888;
  border: 1px solid #888;
}

button.DropDown:after
{
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  margin: -3px 0 0 5px;
  vertical-align: middle;
  width: 0;
}

button.Suggested
{
  background: #0768A9;
  border: 1px solid #0768A9;
  color: #FFF;
}

button.Suggested:focus,
button.Suggested:hover
{
  background: #136898;
  border: 1px solid #136898;
  color: #FFF;
}

button.Risky
{
  background: #AA0000;
  border: 1px solid #AA0000;
  color: #FFF;
}

button.Risky:focus,
button.Risky:hover
{
  background: #CC0000;
  border: 1px solid #CC0000;
  color: #FFF;
}

div.Buttons,
div.Buttons-Vertical
{
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

div.Buttons > button,
div.Buttons > .Button,
div.Buttons-Vertical > button,
div.Buttons-Vertical > .Button
{
  background-color: #FFF;
  border-color: #CCC;
  color: #333;
  float: left;
  position: relative;
}

div.Buttons > button:focus,
div.Buttons > .Button:focus,
div.Buttons-Vertical > button:focus,
div.Buttons-Vertical > .Button:focus,
div.Buttons > button:hover,
div.Buttons > .Button:hover,
div.Buttons-Vertical > button:hover,
div.Buttons-Vertical > .Button:hover
{
  background-color: #E0E0E0;
  border-color: #CCC !important;
  box-shadow: none;
  outline: none;
  z-index: 2;
}

div.Buttons > button:active,
div.Buttons > .Button:active,
div.Buttons-Vertical > button:active,
div.Buttons-Vertical > .Button:active
{
  background-color: #E0E0E0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  outline: 0;
}

div.Buttons button + button,
div.Buttons .Button + .Button
{
  margin-left: -1px;
}

div.Buttons > button:first-child:not(:last-of-type),
div.Buttons > .Button:first-child:not(:last-of-type)
{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0;
}

div.Buttons > button:last-child:not(:first-child),
div.Buttons > .Button:last-child:not(:first-child)
{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

div.Buttons-Vertical > button,
div.Buttons-Vertical > .Button
{
  display: block;
  float: none;
  max-width: 100%;
  width: 100%;
}

div.Buttons-Vertical button + button,
div.Buttons-Vertical .Button + .Button
{
  margin-top: -1px;
}

div.Buttons > button:not(:first-child):not(:last-child),
div.Buttons > .Button:not(:first-child):not(:last-child),
div.Buttons-Vertical > button:not(:first-child):not(:last-child),
div.Buttons-Vertical > .Button:not(:first-child):not(:last-child)
{
  border-radius: 0;
}

div.Buttons-Vertical > button:first-child:not(:last-child),
div.Buttons-Vertical > .Button:first-child:not(:last-child)
{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 4px;
}

div.Buttons-Vertical > button:last-child:not(:first-child),
div.Buttons-Vertical > .Button:last-child:not(:first-child)
{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.Buttons span.Caret
{
  margin-left: 0;
}

div.Form-Group
{
  margin-bottom: 15px;
}

div.Icon-Left,
div.Icon-Right
{
  position: relative;
}

div.Icon-Left input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"])
{
  padding-left: 32px;
}

div.Icon-Right input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"])
{
  padding-right: 32px;
}

div.Icon-Left i,
div.Icon-Right i
{
  display: block;
  height: 32px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 32px;
  z-index: 2;
}

div.Icon-Left i
{
  left: 0;
}

div.Icon-Right i
{
  right: 0;
}

div.Toolbar > div.Buttons:not(:first-child)
{
  margin-left: 5px;
}

div.Toolbar > div.Buttons-Vertical:not(:first-child)
{
  margin-top: 5px;
}

img.Rounded
{
  border-radius: 5px;
}

img.Circle
{
  border-radius: 50%;
}

img.Bordered
{
  background-color: #FFF;
  border: 1px solid #DDD;
  display: inline-block;
  max-width: 100%;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

form.Inline div.Form-Group
{
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

form.Inline label
{
  margin-bottom: 0;
  padding-top: 5px;
  text-align: right;
}

form.Inline input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]),
form.Inline select,
form.Inline textarea
{
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

label.Checkable
{
  cursor: pointer;
  font-weight: normal;
  padding-top: 0 !important;
}

label.Checkable > input
{
  margin-top: -2px;
  vertical-align: middle;
}

label.ScreenReader
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:absolute;
  width: 1px;
}

li.Divider
{
  background-color: #E0E0E0;
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
}

ol.Breadcrumb
{
  background-color: #F5F5F5;
  border-radius: 4px;
  list-style: none;
  margin-bottom: 20px;
  padding: 8px 15px;
}

ol.Breadcrumb > li
{
  display: inline-block;
}

ol.Breadcrumb > li + li:before
{
  color: #CCC;
  content: "/\00a0";
  padding: 0 5px;
}

ol.Inline,
ul.Inline
{
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.Inline > li,
ul.Inline > li
{
  display: inline-block;
  padding: 0 5px;
}

ol.Paneled,
ul.Paneled
{
  padding-left: 0;
}

ol.Paneled > li,
ul.Paneled > li
{
  background-color: #FFF;
  border: 1px solid #DDD;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}

ol.Paneled > li:first-child,
ul.Paneled > li:first-child
{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ol.Paneled > li:last-child,
ul.Paneled > li:last-child
{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

ol.Unstyled,
ul.Unstyled
{
  list-style: none;
  margin: 0;
  padding: 0;
}

section.Container
{
  margin-left: auto;
  margin-right: auto;
}

span.Badge
{
  background-color: #999;
  border-radius: 10px;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

span.Badge:empty
{
  display: none;
}

span.Link
{
  color: #428BCA;
  cursor: pointer;
  text-decoration: none;
}

span.Link:hover,
span.Link:focus
{
  color: #2A6496;
  text-decoration: underline;
}

span.Link:focus
{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

table > tbody > tr > td.NoPad
{
  padding: 0;
}

table > tbody > tr.Active > td
{
  background-color: #F5F5F5;
}

table > tbody > tr.Error > td
{
  background: #F2DEDE;
}

table > tbody > tr.Info > td
{
  background: #D9EDF7;
}

table > tbody > tr.Success > td
{
  background: #DFF0D8;
}

table > tbody > tr.Warning > td
{
  background: #FCF8E3;
}

table.Bordered
{
  border: 1px solid #DDD;
}

table.Bordered > thead > tr > th,
table.Bordered > tbody > tr > td,
table.Bordered > tfoot > tr > td
{
  border: 1px solid #DDD;
}

table.Bordered > thead > tr > th
{
  border-bottom-width: 2px;
}

table.Striped > tbody > tr:nth-child(odd) > td
{
  background-color: #F9F9F9;
}

table.Hot-Tracking > tbody > tr:hover > td
{
  background-color: #F5F5F5;
}

tr.Error > td
{
  background-color: #F2DEDE;
}

tr.Info > td
{
  background-color: #D9EDF7;
}

tr.Success > td
{
  background-color: #DFF0D8;
}

tr.Warning > td
{
  background-color: #FCF8E3;
}
