form.Metaform > fieldset
{
  border-top: 1px solid #DDD;
  clear: none;
  margin: 15px 0 0 0;
  min-width: 0;
  padding: 15px 10px;
  position: relative;
}

form.Metaform > fieldset > header
{
  background: #FFF;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  left: 20px;
  padding: 0 5px;
  position: absolute;
  top: -12px;
  z-index: 2;
}

form.Metaform i.Anchor
{
  background: #FFF;
  color: #DDD;
  cursor: move;
  font-size: 18px;
  position: absolute;
}

form.Metaform > fieldset > i.Anchor
{
  display: none;
  left: 0;
  padding: 0 8px;
  top: -9px;
}

form.Metaform > fieldset > i.fa-chevron-down,
form.Metaform > fieldset > i.fa-chevron-up
{
  background: #FFF;
  cursor: pointer;
  font-size: 16px;
  left: 0;
  padding: 0 3px;
  position: absolute;
  top: -10px;
}

form.Metaform > fieldset > i.fa-close
{
  background: #FFF;
  color: #DDD;
  cursor: pointer;
  display: none;
  right: 0;
  position: absolute;
  top: -8px;
}

form.Metaform > fieldset.Movable > i.Anchor,
form.Metaform > fieldset.Movable > i.fa-close
{
  display: inline-block;
}

form.Metaform > fieldset.Movable > i.fa-chevron-down,
form.Metaform > fieldset.Movable > i.fa-chevron-up
{
  display: none;
}

form.Metaform ol.Forms
{
  list-style: none;
  margin: 0;
  padding: 0;
}

form.Metaform ol.Forms > li.Form-Group > i
{
  background: transparent;
  color: #DDD;
  display: none;
  font-size: 14px;
  position: absolute;
  z-index: 2;
}

form.Metaform ol.Forms > li.Form-Group > i.Anchor
{
  left: 5px;
  top: 9px;
}

form.Metaform ol.Forms > li.Form-Group > i.fa-close
{
  cursor: pointer;
  right: 5px;
  top: 10px;
}

form.Metaform ol.Forms.Movable > li
{
  border: 1px solid #DDD;
  border-radius: 3px;
}

form.Metaform ol.Forms.Movable > li.Form-Group > i
{
  display: inline-block;
}

form.Metaform ol.Forms.Movable input,
form.Metaform ol.Forms.Movable select,
form.Metaform ol.Forms.Movable textarea
{
  cursor: default;
}

form.Metaform .Sortable-Placeholder
{
  border: 1px dashed #DDD !important;
  clear: none;
  display: inline-block;
  height: 35px;
  margin-bottom: -14px !important;
  width: 50%;
}

form.Metaform.Inline li.Form-Group
{
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  width: 50%;
}

form.Metaform.Inline input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]),
form.Metaform.Inline select,
form.Metaform.Inline textarea
{
  width: 200px;
}

form.Metaform.Inline label
{
  padding-right: 8px;
  width: 150px;
}

form.Metaform textarea
{
  height: 117px;
}

form.Metaform:not(.New) input.Editable,
form.Metaform:not(.New) select.Editable,
form.Metaform:not(.New) textarea.Editable,
form.Metaform > fieldset > ol.Forms.Movable input,
form.Metaform > fieldset > ol.Forms.Movable select,
form.Metaform > fieldset > ol.Forms.Movable textarea
{
  background: transparent !important;
  border: 1px solid transparent !important;
  box-shadow: none;
}
  
form.Metaform:not(.New) input.Editable:focus,
form.Metaform:not(.New) select.Editable:focus,
form.Metaform:not(.New) textarea.Editable:focus,
form.Metaform:not(.New) input.Editable:hover,
form.Metaform:not(.New) select.Editable:hover,
form.Metaform:not(.New) textarea.Editable:hover
{
  background: #FFF !important;
  border: 1px solid #DDD !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}