div.PasswordStrength
{
  display: inline-block;
  position: relative;
}

div.Strength
{
  display: none;
}

div.Strength > div.Meter
{
  background: #F0F0F0;
  height: 5px;
  margin: 0.25em 0;
}

div.Strength > div.Meter > span,
div.Strength.Weak > div.Meter > span
{
  background: #AA0000;
  display: block;
  height: 100%;
  width: 25%;
}

div.Strength.Fair > div.Meter > span
{
  background: #FC3;
  width: 50%;
}

div.Strength.Moderate > div.Meter > span
{
  background: #0000A0;
  width: 75%
}

div.Strength.Strong > div.Meter > span
{
  background: #00A000;
  width: 100%;
}