@{
    ViewBag.Title = "Index Unit Tests";
}

@section PageStyles
{
  <link rel="stylesheet" href="~/css/dragline/index.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qunit/1.16.0/qunit.min.css" />
}

@section PageScripts
{
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qunit/1.16.0/qunit.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/blanket.js/1.1.4/blanket.min.js"></script>
  <script src="~/scripts/dragline/index.js" data-cover></script>
}

<div id="qunit" class="Width-75"></div>

<ul id="ulContents" style="padding-left: 20px; position: fixed; right: 0; top: 60px;" class="Unstyled Width-25"></ul>

<div id="divTarget" style="margin-bottom: 600px;">
  <h1 id="h1">Header 1</h1>

  <h2 id="h12-1">Header 2</h2>

  <h3 id="h12-13">Header 3</h3>

  <h4 id="h12-134">Header 4</h4>

  <h5 id="h12-134-15-1">Header 5</h5>

  <h6 id="h12-134-15-16-1">Header 6</h6>

  <h6 id="h12-134-15-16-2">Header 6</h6>
  
  <h6 id="h12-134-15-16-3">Header 6</h6>

  <h5 id="h12-134-15-2">Header 5</h5>

  <h6 id="h12-134-15-26-1">Header 6</h6>

  <h6 id="h12-134-15-26-2">Header 6</h6>

  <h4 id="h12-134-2">Header 4</h4>

  <h5 id="h12-134-25-1">Header 5</h5>

  <h5 id="h12-134-25-2">Header 5</h5>

  <h5 id="h12-134-25-3">Header 5</h5>

  <h2 id="h12-2">Header 2</h2>

  <h2 class="NotIncluded">Header 2</h2>

  <h2 id="h12-3">Header 2</h2>

  <h3 id="h12-33-1">Header 3</h3>

  <h3 id="h12-33-2">Header 3</h3>
</div>

<script type="text/javascript">
  /****************************************************************************
  * Cleanup after each test.
  ****************************************************************************/
  QUnit.testDone(function()
  {
    $("#ulContents").Index("destroy");
    $("html, body").animate({ scrollTop: 0 });
  });

  QUnit.test("Constructor", function(assert)
  {
    // Arrange
    var waitForScroll = assert.async();
    var ulContents = $("#ulContents");
    var h1_h2_Count = $("#h12.1, #h12.2, #h12.3").length;
    var h1_h2_1_h3_Count = $("#h12.13").length;
    var h1_h2_h3_h4_Count = $("#h12.134, h12.134.2").length;
    var h1_h2_h3_h4_1_h5_Count = $("#h12.134.15.1, #h12.134.15.2").length;
    var h1_h2_h3_h4_h5_1_h6_Count = $("#h12.134.16.1, #h12.134.16.2, #h12.134.16.3").length;
    var h1_h2_h3_h4_h5_2_h6_Count = $("#h12.134.15.26.1, #h12.134.15.26.1").length;
    var h1_h2_h3_h4_2_h5_Count = $("#h12.134.25.1, #h12.134.25.2, #h12.134.25.3").length;
    var h1_h2_3_h3_Count = $("#h12.33.1, h12.33.2").length;

    // Act
    ulContents.Index({ Offset: 60 });

    // Assert
    $("html, body").animate({ scrollTop: 0 });

    window.setTimeout(function()
    {
      assert.ok(ulContents.hasClass("Index"));
      assert.ok(ulContents.find("li:first").hasClass("Active"));
      assert.ok($._data(ulContents[0], "events"));
      assert.ok($._data(window, "events"));
      assert.equal(ulContents.find("[href='#h1']").length, 1);
      assert.equal(ulContents.find("[href='#h1'] > ul > li").length, h1_h2_Count);
      assert.equal(ulContents.find("[href='#h12.1'] > ul > li").length, h1_h2_1_h3_Count);
      assert.equal(ulContents.find("[href='#h12.13'] > ul > li").length, h1_h2_h3_h4_Count);
      assert.equal(ulContents.find("[href='#h12.134'] > ul > li").length, h1_h2_h3_h4_1_h5_Count);
      assert.equal(ulContents.find("[href='#h12.134.15.1'] > ul > li").length, h1_h2_h3_h4_h5_1_h6_Count);
      assert.equal(ulContents.find("[href='#h12.134.15.2'] > ul > li").length, h1_h2_h3_h4_h5_2_h6_Count);
      assert.equal(ulContents.find("[href='#h12.134.2'] > ul > li").length, h1_h2_h3_h4_2_h5_Count);
      assert.equal(ulContents.find("[href='#h12.2'] > ul > li").length, 0);
      assert.equal(ulContents.find("[href='#h12.3'] > ul > li").length, h1_h2_3_h3_Count);
      waitForScroll();
    }, 2000);
  });

  QUnit.test("Targeted Constructor", function(assert)
  {
    // Arrange
    var ulContents = $("#ulContents");
    var divTarget = $("#divTarget");
    var h1_h2_Count = $("#h12.1, #h12.2, #h12.3").length;
    var h1_h2_1_h3_Count = $("#h12.13").length;
    var h1_h2_h3_h4_Count = $("#h12.134, h12.134.2").length;
    var h1_h2_h3_h4_1_h5_Count = $("#h12.134.15.1, #h12.134.15.2").length;
    var h1_h2_h3_h4_h5_1_h6_Count = $("#h12.134.16.1, #h12.134.16.2, #h12.134.16.3").length;
    var h1_h2_h3_h4_h5_2_h6_Count = $("#h12.134.15.26.1, #h12.134.15.26.1").length;
    var h1_h2_h3_h4_2_h5_Count = $("#h12.134.25.1, #h12.134.25.2, #h12.134.25.3").length;
    var h1_h2_3_h3_Count = $("#h12.33.1, h12.33.2").length;

    // Act
    ulContents.Index({ Target: divTarget });

    // Assert
    assert.ok(ulContents.hasClass("Index"));
    assert.ok($._data(ulContents[0], "events"));
    assert.equal(ulContents.find("[href='#h1']").length, 1);
    assert.equal(ulContents.find("[href='#h1'] > ul > li").length, h1_h2_Count);
    assert.equal(ulContents.find("[href='#h12.1'] > ul > li").length, h1_h2_1_h3_Count);
    assert.equal(ulContents.find("[href='#h12.13'] > ul > li").length, h1_h2_h3_h4_Count);
    assert.equal(ulContents.find("[href='#h12.134'] > ul > li").length, h1_h2_h3_h4_1_h5_Count);
    assert.equal(ulContents.find("[href='#h12.134.15.1'] > ul > li").length, h1_h2_h3_h4_h5_1_h6_Count);
    assert.equal(ulContents.find("[href='#h12.134.15.2'] > ul > li").length, h1_h2_h3_h4_h5_2_h6_Count);
    assert.equal(ulContents.find("[href='#h12.134.2'] > ul > li").length, h1_h2_h3_h4_2_h5_Count);
    assert.equal(ulContents.find("[href='#h12.2'] > ul > li").length, 0);
    assert.equal(ulContents.find("[href='#h12.3'] > ul > li").length, h1_h2_3_h3_Count);
  });

  QUnit.test("Constructor With Offset", function(assert)
  {
    // Arrange
    var ulContents = $("#ulContents");
    var divTarget = $("#divTarget");
    var OFFSET = 60;

    // Act
    ulContents.Index({ Offset: OFFSET, Target: divTarget });

    // Assert
    assert.equal(ulContents.position().top, OFFSET);
  });

  QUnit.test("Destructor", function(assert)
  {
    // Arrange
    var ulContents = $("#ulContents");
    ulContents.Index();

    // Act
    ulContents.Index("destroy");

    // Assert
    assert.ok(!ulContents.hasClass("Index"));
    assert.equal($._data(ulContents[0], "events"), null);
    assert.equal($._data(window, "events"), null);
  });

  QUnit.test("Scroll Activation", function(assert)
  {
    // Arrange
    var waitForScroll = assert.async();
    var waitForScrollAgain = assert.async();
    var ulContents = $("#ulContents");
    ulContents.Index({ Offset: 60 });

    // Act & Assert
    $("html, body").animate({ scrollTop: $("#h12-13").offset().top });
    window.setTimeout(function()
    {
      var isH3Active = $("[href='#h12-13']").parent().hasClass("Active");
      assert.ok(isH3Active);
      waitForScroll();

      $("html, body").animate({ scrollTop: $("#h12-3").offset().top });
      window.setTimeout(function()
      {
        var isLastH2Active = $("[href='#h12-3']").parent().hasClass("Active");
        assert.ok(isLastH2Active);
        waitForScrollAgain();
      }, 2000);
    }, 2000);
  });

  QUnit.test("Click to Scroll", function(assert)
  {
    // Arrange
    var ulContents = $("#ulContents");
    ulContents.Index({ Offset: 60 });
    var targetLink = $("[href='#h12-134-15-2']");

    // Act
    targetLink.click();

    // Assert
    assert.ok(targetLink.parent().hasClass("Active"));
    assert.equal(ulContents.find(".Active").length, targetLink.parents("li").length);
  });
</script>