@{
    ViewBag.Title = "Modal Unit Tests";
}

@section PageStyles
{
  <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.15.0.css" />
}

@section PageScripts
{
  <script type="text/javascript" src="//code.jquery.com/qunit/qunit-1.16.0.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/blanket.js/1.1.4/blanket.min.js"></script>
  <script src="~/scripts/modal.js" data-cover></script>
}

<div id="qunit"></div>

<div>
  <button type="button" data-modal="#facePalm" data-title="Fail" data-callback="modalCallback">Modal Dialog (Default)</button>
  <button type="button" data-modal="#facePalm" data-title="Fail" data-options="{ 'Effect': 'Newspaper' }">Modal Dialog (Newspaper)</button>
  <button type="button" data-modal="#facePalm" data-title="Fail" data-options="{ 'Effect': 'Fade' }">Modal Dialog (Fade)</button>
</div>

<script type="text/html" id="facePalm">
  <div class="Text-Center">
    <img src="/images/memes/jesus-facepalm.jpg" />
  </div>
</script>

<script type="text/javascript">
  var declarativeCallbacks = 0;

  function modalCallback()
  {
    declarativeCallbacks++;
  }

  QUnit.test("Declarative Modal", function(assert)
  {
    // Arrange
    var modalButtons = $("button[data-modal]");
    var documentClickEvents = $._data($(document)[0], "events").click;
    var waitForModal = assert.async();

    // Act & Assert
    for (var clickIndex = 0; clickIndex < documentClickEvents.length; clickIndex++)
    {
      if (documentClickEvents[clickIndex].namespace === "widgets.modal")
      {
        assert.equal(documentClickEvents[clickIndex].selector, "[data-modal]");
        break;
      }
    }

    modalButtons.first().click();

    window.setTimeout(function()
    {
      assert.equal($("#divModal").length, 1);
      assert.equal($("#divBackdrop").length, 1);
      assert.equal($("#divModal").next().attr("id"), "divBackdrop");
      assert.equal($("#divModal > header > span").text(), "Fail");
      assert.ok(declarativeCallbacks > 0);

      waitForModal();
    }, 500);
  });

  QUnit.test("showDialog()", function(assert)
  {
    // Arrange
    var facePalm = $("#facePalm");
    var modalTitle = "Epic Fail";
    var waitForModal = assert.async();

    // Act
    $.Modal.showDialog(facePalm, modalTitle, { CloseButton: false });

    // Assert
    window.setTimeout(function()
    {
      assert.equal($("#divModal > header > span").text(), modalTitle);
      assert.equal($("#divModal > header > button").css("display"), "none");
      waitForModal();

      $.Modal.hideDialog();
    }, 500);
  });

  QUnit.test("showDialog() With Callback", function(assert)
  {
    // Arrange
    var facePalm = $("#facePalm");
    var modalTitle = "Epic Fail";
    var waitForModal = assert.async();
    var callbackInvoked = false;

    // Act
    $.Modal.showDialog(facePalm, modalTitle, { CloseButton: false }, function()
    {
      callbackInvoked = true;
    });

    // Assert
    window.setTimeout(function()
    {
      assert.equal($("#divModal > header > span").text(), modalTitle);
      assert.equal($("#divModal > header > button").css("display"), "none");
      waitForModal();

      $.Modal.hideDialog();
    }, 500);
  });

  QUnit.test("showDialog() Without Content", function(assert)
  {
    // Arrange
    var facePalm = $("#facePalm");
    var modalTitle = "Epic Fail";

    // Act & Assert
    assert.throws(function()
    {
      $.Modal.showDialog(null, modalTitle, { CloseButton: false });
    }, "The content element is required.");
  });

  QUnit.test("showDialog() Without Title", function(assert)
  {
    // Arrange
    var facePalm = $("#facePalm");
    var modalTitle = "Epic Fail";

    // Act & Assert
    assert.throws(function()
    {
      $.Modal.showDialog(facePalm, "", { CloseButton: false });
    }, "The content element is required.");
  });

  QUnit.test("hideDialog()", function(assert)
  {
    // Arrange
    var facePalm = $("#facePalm");
    var modalTitle = "Epic Fail";
    var waitForModal = assert.async();

    // Act
    $.Modal.showDialog(facePalm, modalTitle, { CloseButton: false });

    // Assert
    window.setTimeout(function()
    {
      $.Modal.hideDialog();

      window.setTimeout(function()
      {
        assert.equal($("#divModal").css("opacity"), 0);
        assert.equal($("#divBackdrop").css("opacity"), 0);

        waitForModal();
      }, 500);
    }, 500);
  });

  QUnit.test("prompt()", function(assert)
  {
    // Arrange
    var waitForModal = assert.async();
    var promptTitle = "Call to Action";
    var promptMessage = "This is prompting you to respond to a call to action.";
    var buttonText = "No, I don't want to";
    var callbackInvoked = false;

    // Act
    $.Modal.prompt(promptTitle,
      promptMessage,
      [
        {
          Callback: function()
          {
            callbackInvoked = true;
            $.Modal.hideDialog();
          },
          CssClasses: "Suggested",
          Text: buttonText
        }]);

    // Assert
    window.setTimeout(function()
    {
      var divModal = $("#divModal");

      assert.ok(divModal.is(":visible"));
      assert.equal(divModal.find("header > span").text(), promptTitle);
      assert.ok(divModal.find("section > p").hasClass("Text-Center"));
      assert.equal(divModal.find("section > p").text(), promptMessage);
      assert.ok(divModal.find("section button").hasClass("Suggested"));
      assert.equal(divModal.find("section button").text(), buttonText);

      divModal.find("section button").click();
      assert.ok(callbackInvoked);

      waitForModal();
    }, 500);
  });

  QUnit.test("promptToDelete()", function(assert)
  {
    // Arrange
    var waitForModal = assert.async();
    var promptTitle = "Confirm Removal";
    var promptMessage = "Are you sure you want to delete this?";
    var callbackInvoked = false;

    // Act
    $.Modal.promptToDelete(function()
    {
      callbackInvoked = true;
    });

    // Assert
    window.setTimeout(function()
    {
      var divModal = $("#divModal");

      assert.equal(divModal.find("header > span").text(), promptTitle);
      assert.ok(divModal.find("section > p").hasClass("Text-Center"));
      assert.equal(divModal.find("section > p").text(), promptMessage);
      assert.equal(divModal.find("section button:first").text(), "Delete");
      assert.equal(divModal.find("section button:last").text(), "Cancel");

      divModal.find("section button:first").click();
      assert.ok(callbackInvoked);

      window.setTimeout(function()
      {
        $.Modal.hideDialog();
        waitForModal();
      }, 500)
    }, 500);
  });

  QUnit.test("promptToSave()", function(assert)
  {
    // Arrange
    var waitForModal = assert.async();
    var promptTitle = "Unsaved Changes";
    var promptMessage = "There are unsaved changes. What would you like to do?";
    var callbackScore = 0;

    // Act
    $.Modal.promptToSave(function()
    {
      callbackScore++;
    },
    function()
    {
      callbackScore += 2;
    },
    $.Modal.hideDialog);

    // Assert
    window.setTimeout(function()
    {
      var divModal = $("#divModal");

      assert.ok(divModal.is(":visible"));
      assert.equal(divModal.find("header > span").text(), promptTitle);
      assert.equal(divModal.find("section > p").text(), promptMessage);
      assert.ok(divModal.find("section button").hasClass("Suggested"));
      assert.equal(divModal.find("section button:first").text(), "Save and Continue");
      assert.equal(divModal.find("section button:eq(1)").text(), "Continue Without Saving");
      assert.equal(divModal.find("section button:last").text(), "Cancel");

      divModal.find("section button:first").click();
      assert.equal(callbackScore, 1);

      divModal.find("section button:eq(1)").click();
      assert.equal(callbackScore, 3);

      window.setTimeout(function()
      {
        $.Modal.hideDialog();
        waitForModal();
      }, 500)
    }, 500);
  });
</script>